
.single-service-box {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  transition: 0.5s;
  overflow: hidden;
  width: 22rem;
}
.keen-slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.keen-slider__slide {
  max-width: 22rem;
  min-width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.service-icon i {
  color: #fff;
}



.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #1100fc;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #017CFD;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}


