<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4">
  <div class="lg:grid grid-cols-2 gap-4 w-[70rem]">
    <!-- <h2>{{'User Information'}}</h2> -->
    <!-- *****first_name***** -->
    <mat-form-field data-testing="first_name" appearance="outline" class="w-full">
      <mat-label>first_name</mat-label>
      <input
        type="text"
        matInput
        [errorStateMatcher]="matcher"
        formControlName="first_name"
        placeholder="first_name" />
      <!-- Error handling -->
      <mat-error *ngIf="first_name?.hasError('first_name') && !first_name?.hasError('required')"
        >Please enter a valid first_name</mat-error
      >
      <mat-error *ngIf="first_name?.hasError('required')"
        >first_name is <strong>required</strong></mat-error
      >
      <mat-error *ngIf="first_name?.hasError('minlength')"
        >first_name is too short
        <strong>{{
          first_name?.getError('minlength')?.requiredLength
        }}</strong></mat-error
      >
      <mat-error *ngIf="first_name?.hasError('banWords')"
        >The value
        <strong>{{ first_name?.getError('banWords').bannedWord }} </strong>is
        banned</mat-error
      >
    </mat-form-field>

    <!-- *****last_name***** -->
    <mat-form-field data-testing="last_name" appearance="outline" class="w-full">
      <mat-label>last_name</mat-label>
      <input
        type="text"
        matInput
        [errorStateMatcher]="matcher"
        formControlName="last_name"
        placeholder="last_name" />
      <!-- Error handling -->
      <mat-error
        *ngIf="
          last_name?.hasError('last_name') && !last_name?.hasError('required')
        "
        >Please enter a valid last_name</mat-error
      >
      <mat-error *ngIf="last_name?.hasError('required')"
        >last_name is <strong>required</strong></mat-error
      >
      <mat-error *ngIf="last_name?.hasError('minlength')"
        >last_name is too short
        <strong>{{
          last_name?.getError('minlength')?.requiredLength
        }}</strong></mat-error
      >
      <mat-error *ngIf="last_name?.hasError('banWords')"
        >The value
        <strong>{{ last_name?.getError('banWords').bannedWord }} </strong>is
        banned</mat-error
      >
    </mat-form-field>

    <!-- *****national_code***** -->
    <mat-form-field
      data-testing="national_code"
      appearance="outline"
      class="w-full">
      <mat-label>national_code</mat-label>
      <input
        type="text"
        matInput
        [errorStateMatcher]="matcher"
        formControlName="national_code"
        placeholder="national_code" />
      <!-- Error handling -->
      <mat-error
        *ngIf="
          national_code?.hasError('national_code') &&
          !national_code?.hasError('required')
        "
        >Please enter a valid national_code</mat-error
      >
      <mat-error *ngIf="national_code?.hasError('required')"
        >national_code is <strong>required</strong></mat-error
      >
      <mat-error *ngIf="national_code?.hasError('minlength')"
        >national_code is too short
        <strong>{{
          national_code?.getError('minlength')?.requiredLength
        }}</strong></mat-error
      >
      <mat-error *ngIf="national_code?.hasError('banWords')"
        >The value
        <strong>{{ national_code?.getError('banWords').bannedWord }} </strong>is
        banned</mat-error
      >
    </mat-form-field>

    <!-- *****Year of birth***** -->
    <mat-form-field appearance="outline" class="w-full mb-1">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [max]="maxDate"
        [min]="minDate"
        formControlName="date_of_birth" />
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field data-testing="gender" appearance="outline" class="w-full">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" name="gender" (selectionChange)="onSelectedChange($event)">
        <mat-option *ngFor="let g of genders; trackBy: trackByFn" [value]="g">
          {{ g }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- *****Town/City***** -->
    <mat-form-field
      data-testing="Town/City"
      appearance="outline"
      class="w-full">
      <mat-label>{{ 'Town/City' | titlecase }}</mat-label>
      <input
        type="text"
        matInput
        [errorStateMatcher]="matcher"
        formControlName="city"
        placeholder="City name" />
      <!-- Error handling -->
      <mat-error *ngIf="city?.hasError('city') && !city?.hasError('required')"
        >Please enter a valid city</mat-error
      >
      <mat-error *ngIf="city?.hasError('required')"
        >city is <strong>required</strong></mat-error
      >
      <mat-error *ngIf="form.controls.city.hasError('minlength')"
        >city is too short
        <strong>{{
          form.controls.city.getError('minlength')?.requiredLength
        }}</strong></mat-error
      >
      <mat-error *ngIf="city?.hasError('banWords')"
        >The value
        <strong>{{ city?.getError('banWords').bannedWord }} </strong>is
        banned</mat-error
      >
    </mat-form-field>

    <!-- *****Contact Number***** -->
    <mat-form-field appearance="outline">
      <mat-label>Telephone</mat-label>
      <span matTextPrefix>+60 &nbsp;</span>
      <input type="tel" formControlName="phone" matInput placeholder="555-555-1234">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

  </div>

  <div class="lg:flex lg:justify-end w-full gap-3 mt-4">
    <!-- *****CancelBTN***** -->
    <button mat-stroked-button type="button" class="w-full">Cancel</button>
    <!-- *****SaveBTN***** -->
    <button
      class="w-full lg:m-0 tablet:mt-2 md:mt-2"
      [disabled]="!form.valid"
      mat-flat-button
      data-testid="login-button"
      color="primary"
      type="submit">
      Update Profile
    </button>
  </div>
</form>
