<div class="card">
  <div class="card-img">
    <img [src]="imgSergury()" alt="" />
  </div>
  <div class="card-info">
    <p class="font-bold">{{ title() }}</p>
    <p class="text-xs pb-3 pt-2 font-semibold">
      {{ description() }}
    </p>
    <div
      class="flex items-center gap-2 h-auto pb-1  border-b-2 border-dashed border-gray-300">
      <img
        [src]="doctorImg()"
        class="w-12 h-12 rounded-full object-cover"
        alt="DR Aliakbar Esmaeili" />
      <p class="text-sm font-medium text-gray-700">{{ name() }}</p>
    </div>
  </div>
  <div class="w-full flex justify-between items-center pt-3 pb-3">
    <div class="flex gap-1">
      <span class="line-through text-red-600 font-semibold">{{
        promotion()
      }}</span>
      <span class="text-green-600 font-bold">{{ price() }}</span>
    </div>
    <div class="discount-badge">{{ off() }}</div>
  
  </div>
</div>
