<div class="px-5">
  <div
    class="desktop:flex justify-between items-center desktop:w-10/12 mobile:w-full m-auto pt-28 border-b-2 border-lightGray">
    <div class="text-gray-100">
      <div class="mobile:text-axl desktop:text-2xl text-blue-950">
        {{ title() }}
      </div>
    </div>

    <div class="flex justify-end mobile:pt-4 mobile:pb-4">
      @if (isShowBtn()) {
      <button dfButton appearance="solid" class="flex">
        View All
        <i class="fa-solid fa-arrow-trend-up text-2xl"></i>
      </button>
      }
    </div>
  </div>
  <ng-content></ng-content>
</div>
