<mat-tab-group
  animationDuration="1000ms"
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  [(selectedIndex)]="selectedIndex"
  (selectedTabChange)="onTabChanged($event.index)">
  @for (tab of tabs(); track $index) {
  <mat-tab [label]="tab.title"
  [disabled]="tab.disabled"
  >
    <ng-container
      select=""
      *ngTemplateOutlet="
        selectedTemplate;
        context: context || noContent
      "></ng-container>
    <ng-template #noContent> No conent... </ng-template>
  </mat-tab>
  } @empty {
  <li>There are no items.</li>
  }
</mat-tab-group>
