<section class="w-full">
  <mat-card appearance="outlined" class="p-4">
    <h2 class="text-xs font-medium">{{ title }}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4">
      <div class="desktop:grid grid-cols-4 gap-3">
        <!-- *****Patient Name***** -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-select
            [(value)]="selectedPatient"
            name="selectedPatient"
            placeholder="selected Patient...">
            <input
              type="text"
              placeholder="Pick up patient..."
              formControlName="searchFood"
              (input)="filterPatient()"
              style="width: 100%; padding: 8px; margin-bottom: 8px" />
            <mat-option
              *ngFor="let p of filteredPatient"
              [value]="p.firstName"
              (onSelectionChange)="onSelectedChange(p)">
              {{ p.firstName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- *****Date of birth***** -->
        <mat-form-field
          data-testing="department"
          appearance="outline"
          class="w-full">
          <mat-label>Date Of Birth</mat-label>
          <input
            type="text"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="dateOfBirth" />
        </mat-form-field>

        <!-- *****bloodGroup***** -->
        <mat-form-field
          data-testing="department"
          appearance="outline"
          class="w-full">
          <mat-label>bloodGroup</mat-label>
          <input
            type="text"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="bloodGroup" />
        </mat-form-field>

        <!-- *****bloodPressure***** -->
        <mat-form-field
          data-testing="department"
          appearance="outline"
          class="w-full">
          <mat-label>bloodPressure</mat-label>
          <input
            type="text"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="bloodPressure" />
        </mat-form-field>

        <!-- *****haemoglobin***** -->
        <mat-form-field
          data-testing="department"
          appearance="outline"
          class="w-full">
          <mat-label>haemoglobin</mat-label>
          <input
            type="text"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="haemoglobin" />
        </mat-form-field>

        <!-- *****mobile***** -->
        <mat-form-field
          data-testing="department"
          appearance="outline"
          class="w-full">
          <mat-label>mobile</mat-label>
          <input
            type="text"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="mobile" />
        </mat-form-field>

        <!-- *****sugarLevel***** -->
        <mat-form-field
          data-testing="department"
          appearance="outline"
          class="w-full">
          <mat-label>sugarLevel</mat-label>
          <input
            type="text"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="sugarLevel" />
        </mat-form-field>

        <!-- *****description***** -->
        <mat-form-field
          data-testing="department"
          appearance="outline"
          class="w-full">
          <mat-label>description</mat-label>
          <input
            type="text"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="description" />
        </mat-form-field>

        <!-- *****Diseases***** -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-select
            [(value)]="selectedDiseases"
            name="selectedDiseases"
            placeholder="selected Diseases...">
            <input
              type="text"
              placeholder="Pick up Diseases..."
              formControlName="diseases"
              (input)="filterDiseases()"
              style="width: 100%; padding: 8px; margin-bottom: 8px" />
            <mat-option
              *ngFor="let p of filteredDiseases"
              [value]="p.disease_name"
              (onSelectionChange)="onSelectedChangeDiseases(p.disease_id)">
              {{ p.disease_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- *****medicine***** -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-select
            [(value)]="selectedMedicine"
            name="selectedMedicine"
            placeholder="selected Medicine...">
            <input
              type="text"
              placeholder="Pick up Medicine..."
              formControlName="medicine"
              (input)="filterMedicine()"
              style="width: 100%; padding: 8px; margin-bottom: 8px" />
            <mat-option
              *ngFor="let p of filterMedicData"
              [value]="p.drug_name"
              (onSelectionChange)="onSelectedChangeMedic(p)">
              {{ p.drug_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <ali-select
          label="Pick the User"
          multiple
          [searchable]="true"
          [compareWith]="compareWithFn"
          [displayWith]="displayWithFn"
          formControlName="selectValue"
          (closed)="onSearchChanged('')"
          (searchChanged)="onSearchChanged($event)">
          <app-option *ngFor="let user of filterMedicData" [value]="user">
            <i class="fa-solid fa-tablets"></i>
            {{ user.drug_name }}</app-option
          >
        </ali-select> -->
      </div>

      <div class="desktop:flex desktop:justify-end w-full gap-3">
        <!-- *****CancelBTN***** -->
        <button mat-stroked-button type="button" class="w-full">Cancel</button>
        <!-- *****SaveBTN***** -->
        <button
          class="w-full desktop:m-0 tablet:mt-2 mobile:mt-2"
          [disabled]="!form.valid"
          mat-flat-button
          data-testid="login-button"
          type="submit">
          Add Doctor
        </button>
      </div>
    </form>
  </mat-card>
</section>
