@for (item of doctorInfo; track $index) {
<div mat-dialog-title class="container breatcome-section">
  <div class="flex items-center gap-2 top-12 left-8 absolute">
    <img
      crossorigin="anonymous"
      [src]="item?.profile_img"
      width="48"
      height="48"
      class="w-24 h-24 rounded-full border-2 border-gray-300 shadow-md" />
    <h2 class="!text-white">
      Dr. {{ item.first_name }} &nbsp;{{ item.last_name }}
    </h2>
  </div>
</div>
<mat-dialog-content [formGroup]="feedbackForm">
  <div class="pt-4">
    <h2>How would you rate your experience with the booked appointment?*</h2>
    <div class="flex gap-2 text-yellow-400 py-4">
      <ngx-stars
        [readonly]="false"
        [size]="2"
        [maxStars]="5"
        [wholeStars]="false"
        [color]="'#FFD700'"
        [customStarIcons]="urlIcon"
        (ratingOutput)="onRatingSetAppointment($event)"></ngx-stars>
    </div>
    <mat-divider></mat-divider>
    <div class="py-4">
      <h2>Would you recommend the doctor to other users?*</h2>
      <div class="flex gap-4 pt-4">
        <button dfButton (click)="recommended(true)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="25"
            height="25"
            fill="none"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round">
            <!-- First Path -->
            <path
              d="M13.567 18.917H10.4c-.467 0-1.483-.142-2.025-.683l-2.525-1.95.767-.992 2.583 2c.208.2.733.367 1.2.367h3.167c.75 0 1.558-.6 1.725-1.275l2.016-6.125c.134-.367.109-.7-.066-.942-.184-.258-.517-.408-.925-.408h-3.334a1.46 1.46 0 0 1-1.108-.5 1.49 1.49 0 0 1-.342-1.209l.417-2.675c.1-.466-.217-.991-.667-1.141-.408-.15-.933.066-1.116.333L6.75 8.8 5.717 8.11l3.416-5.084c.525-.783 1.675-1.158 2.575-.816 1.042.341 1.709 1.491 1.475 2.558l-.408 2.625c-.008.058-.008.142.05.208q.065.065.167.067h3.333c.817 0 1.525.342 1.942.933.408.575.491 1.334.225 2.067L16.5 16.734c-.308 1.208-1.592 2.183-2.933 2.183z" />

            <!-- Second Path -->
            <path
              d="M4.483 18H3.65c-1.542 0-2.292-.726-2.292-2.209V7.624c0-1.483.75-2.208 2.292-2.208h.833c1.542 0 2.292.725 2.292 2.208v8.167c0 1.483-.75 2.208-2.292 2.208M3.65 6.665c-.908 0-1.042.217-1.042.958v8.167c0 .742.134.958 1.042.958h.833c.909 0 1.042-.216 1.042-.958V7.624c0-.741-.133-.958-1.042-.958z" />
          </svg>
          I recommend
        </button>
        <button dfButton (click)="doNotRecommended(false)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="25"
            height="25"
            fill="none"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round">
            <!-- First Path -->
            <path
              d="M10.433 5.083H13.6c.467 0 1.483.142 2.025.683l2.525 1.95-.767.992-2.583-2c-.208-.2-.733-.367-1.2-.367H10.4c-.75 0-1.558.6-1.725 1.275L6.659 13.75c-.134.367-.109.7.066.942.184.258.517.408.925.408h3.334a1.46 1.46 0 0 1 1.108.5 1.49 1.49 0 0 1 .342 1.209l-.417 2.675c-.1.466.217.991.667 1.141.408.15.933-.066 1.116-.333L17.25 15.2l1.033.69-3.416 5.084c-.525.783-1.675 1.158-2.575.816-1.042-.341-1.709-1.491-1.475-2.558l.408-2.625c.008-.058.008-.142-.05-.208q-.065-.065-.167-.067H9.333c-.817 0-1.525-.342-1.942-.933-.408-.575-.491-1.334-.225-2.067L7.5 7.266c.308-1.208 1.592-2.183 2.933-2.183z" />

            <!-- Second Path -->
            <path
              d="M19.517 6H20.35c1.542 0 2.292.726 2.292 2.209v8.167c0 1.483-.75 2.208-2.292 2.208h-.833c-1.542 0-2.292-.725-2.292-2.208V8.209c0-1.483.75-2.208 2.292-2.208M20.35 17.335c.908 0 1.042-.217 1.042-.958V8.209c0-.742-.134-.958-1.042-.958h-.833c-.909 0-1.042.216-1.042.958v8.167c0 .741.133.958 1.042.958z" />
          </svg>

          I do not recommend
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>

    <h2 class="py-4">
      <strong>How would you rate each of the following?</strong>
    </h2>
    <div class="divide-y flex flex-col gap-2">
      <div class="flex justify-between items-center">
        <h2 class="!text-sm">
          Professional demeanor of the doctor (patient and respectful attitude)
        </h2>
        <div class="flex gap-2 text-yellow-400">
          <ngx-stars
            [readonly]="false"
            [size]="2"
            [maxStars]="5"
            [wholeStars]="false"
            [color]="'#FFD700'"
            [customStarIcons]="urlIcon"
            (ratingOutput)="onRatingSetPatient($event)"></ngx-stars>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <h2 class="!text-sm">
          Allocating sufficient time and providing detailed explanations to the
          patient
        </h2>
        <div class="flex gap-2 text-yellow-400">
          <ngx-stars
            [readonly]="false"
            [size]="2"
            [maxStars]="5"
            [wholeStars]="false"
            [color]="'#FFD700'"
            [customStarIcons]="urlIcon"
            (ratingOutput)="onRatingSetAllocating($event)"></ngx-stars>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <h2 class="!text-sm">The doctor's skill in diagnosis and treatment</h2>
        <div class="flex gap-2 text-yellow-400">
          <ngx-stars
            [readonly]="false"
            [size]="2"
            [maxStars]="5"
            [wholeStars]="false"
            [color]="'#FFD700'"
            [customStarIcons]="urlIcon"
            (ratingOutput)="onRatingSetSkill($event)"></ngx-stars>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <h2 class="!text-sm">
          The admission process and the behavior of the receptionist and staff
        </h2>
        <div class="flex gap-2 text-yellow-400">
          <ngx-stars
            [readonly]="false"
            [size]="2"
            [maxStars]="5"
            [wholeStars]="false"
            [color]="'#FFD700'"
            [customStarIcons]="urlIcon"
            (ratingOutput)="onRatingSetProcess($event)"></ngx-stars>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <h2 class="!text-sm">
          The condition of the clinic environment and waiting room
        </h2>
        <div class="flex gap-2 text-yellow-400">
          <ngx-stars
            [readonly]="false"
            [size]="2"
            [maxStars]="5"
            [wholeStars]="false"
            [color]="'#FFD700'"
            [customStarIcons]="urlIcon"
            (ratingOutput)="onRatingSetCondition($event)"></ngx-stars>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="py-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Leave a comment...</mat-label>
        <textarea
          formControlName="comment"
          matInput
          #message
          maxlength="256"></textarea>
        <mat-hint align="start"
          ><strong>Don't disclose personal info</strong>
        </mat-hint>
        <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
}
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="submitFeedback()"
    [disabled]="!feedbackForm.valid">
    Submit Your Experience
  </button>
</mat-dialog-actions>
