.breatcome-section {
    background: url(../../../../../assets/images/ui/breatcome.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    margin: auto;
}

@media screen and (min-width: 320px) {
    .breatcome-section {
        background: url(../../../../../assets/images/ui/breatcome.png);
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
  }