<!-- <mat-form-field appearance="outline" class="w-full">
  <div class="file-input-container">
    <input
      matInput
      readonly
      [value]="
        selectedFileNames.length ? selectedFileNames.join(', ') : 'Upload img'
      " />
    <span class="w-12 cursor-pointer">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        (click)="fileInput.click()">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15"
            stroke="#000000"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g>
      </svg>
    </span>

    <input
      #fileInput
      type="file"
      id="fileInput"
      name="fileInput"
      accept="image/*"
      multiple
      (change)="selectFiles($event)"
      hidden />
  </div>
</mat-form-field> -->

<div class="container">
  @if (!previews.length) {

  <div class="header">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15"
          stroke="#000000"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </g>
    </svg>
    <p>Browse File to upload!</p>
  </div>
  }@else{

  <span class="">
    @for (preview of previews; track $index) {
    <img
      class="border-2 border-dashed border-blue rounded-full"
      [src]="preview" />
    }@empty {
    <div class="flex items-center justify-center">
    </div>

    }
  </span>

  }

  <label for="file" class="footer">
    <svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
        <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
      </g>
    </svg>
    @if(!previews.length){
    <p class="cursor-pointer">Not selected file</p>

    }@else {
    <p class="cursor-pointer text-xs">Please click to upload</p>

    }
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z"
          stroke="#000000"
          stroke-width="2"></path>
        <path
          d="M19.5 5H4.5"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="round"></path>
        <path
          d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z"
          stroke="#000000"
          stroke-width="2"></path>
      </g>
    </svg>
    <input id="file" type="file" (change)="selectFiles($event)" />
  </label>

  @if(previews.length){
  <!-- <button
        matTooltip="Select to the button to submit image"
        mat-flat-button
        type="button"
        color="primary"
        [disabled]="!selectedFiles"
        (click)="uploadFiles()">
        ✅
      </button> -->
  <button
    type="button"
    class="text-blue rounded flex items-center justify-center"
    (click)="uploadFiles()"
    [disabled]="isLoading()">
    @if (!isLoading()) {
    <span>Upload Image</span>
    }@else {
    <svg
      class="animate-spin h-5 w-5 text-blue"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor">
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
    </svg>
    }
  </button>
  }
</div>
