<mat-toolbar>
  <span>{{ title }}</span>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Add title and time</mat-label>
      <input matInput type="text" formControlName="event_title" />
      @if (value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-select
        name="patientName"
        formControlName="patientName"
        placeholder="selected Patient...">
        <input
          type="text"
          placeholder="Pick up patient..."
          (input)="filterPatient()"
          style="width: 100%; padding: 8px; margin-bottom: 8px" />
        <mat-option
          *ngFor="let p of filteredPatient"
          [value]="p.patientName"
          (onSelectionChange)="onSelectedChange(p)">
          {{ p.patientName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex justify-between items-center">
      <div
        class="flex items-center gap-2 border-2 border-gray-300 rounded-2xl p-2">
        <span class="material-symbols-outlined ml-3"> schedule </span>
        <strong>
          {{ date | date : 'short' }}
        </strong>
      </div>
      <button
        mat-flat-button
        class="btn-today"
        color="primary"
        type="button"
        (click)="isShowTime = true">
        Add time
      </button>
    </div>

    @if(isShowTime){

    <div class="flex flex-col pt-5">
      <div>
        <mat-form-field class="example-form-field" formArrayName="campaignDate">
          <mat-date-range-input
            [rangePicker]="campaignDatePicker"
            [comparisonStart]="form.get('campaignDate.start_date')?.value"
            [comparisonEnd]="form.get('campaignDate.end_date')?.value">
            <input
              matStartDate
              placeholder="Start date"
              formControlName="start_date" />
            <input
              matEndDate
              placeholder="End date"
              formControlName="end_date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="campaignDatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #campaignDatePicker></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div class="flex gap-4">
        <div class="flex gap-4 items-center" formArrayName="campaignTime">
          <!-- First Time Picker -->
          <mat-form-field appearance="outline" class="w-36">
            <mat-select
              formControlName="start_time"
              [(value)]="firstSelectedTime"
              (selectionChange)="updateSecondTime()">
              @for (time of timeSlots; track $index) {
              <mat-option [value]="time">
                {{ time }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <div class="separator"></div>

          <!-- Second Time Picker -->
          <mat-form-field appearance="outline" class="w-36">
            <mat-select
              [(value)]="secondSelectedTime"
              formControlName="end_time">
              @for (time of timeSlots; track $index) {
              <mat-option
                [value]="time"
                [disabled]="$index <= timeSlots.indexOf(firstSelectedTime)">
                {{ time }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="w-36">
          <mat-select
            formControlName="color"
            (selectionChange)="onColorChange($event)"
            [value]="defaultColor">
            <mat-select-trigger>
              <span
                class="color-span"
                [ngStyle]="{
                  'background-color': selectedColor
                }"></span>
            </mat-select-trigger>
            <mat-option *ngFor="let color of colors" [value]="color">
              <div
                class="color-span"
                [ngStyle]="{ 'background-color': color }"></div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    }

    <mat-form-field appearance="outline" class="w-full mt-4">
      <mat-label>Leave a comment</mat-label>
      <textarea
        matInput
        placeholder="Ex. It makes me feel..."
        formControlName="event_description"></textarea>
    </mat-form-field>
    <button
      mat-icon-button
      color="primary"
      type="button"
      aria-label="Example icon button with a home icon">
      <mat-icon>add</mat-icon>
    </button>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button matButton="outlined" mat-dialog-close type="button">Cancel</button>
    <button
      matButton="outlined"
      [mat-dialog-close]="true"
      type="submit"
      [disabled]="!form.valid">
      Save
    </button>

    <button mat-raised-button color="warn" (click)="deleteAppointment()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </mat-dialog-actions>
</form>
