<section class="pt-4">
  <div class="breatcome-section">
    <div class="container mx-auto">
      <h1
        class="font-semibold text-white flex justify-center items-center pt-36 uppercase">
        Projects
      </h1>
      <div class="text-white flex justify-center items-center uppercase">
        mediic / Projects
      </div>
    </div>
  </div>
</section>

<div class="container mx-auto pt-20 pb-20">

  <!---------------- start Medicc Project section ---------------------->
  <section>
    <section class="flex gap-20 justify-center">
      <div class="swiper drProjectSwiper mt-10">
        <div class="swiper-wrapper">
          @for (d of data; track $index) {
          <div class="swiper-slide">
            <div class="group relative overflow-hidden bg-sky-300 rounded-xl">
              <img [src]="d.img" alt="" class="w-full" />

              <div
                class="absolute w-96 h-48 bg-gray-50 z-10 top-40 left-4 opacity-65 rounded-2xl blur group-hover:blur-none [transform:rotate3d(1_,-1,_1,_30deg)] duration-500 group-hover:[transform:rotate3d(1_,-1,_1,_0deg)]"></div>
              <div
                class="absolute h-48 z-10 top-40 left-4 p-3 rounded-2xl flex flex-col justify-end items-start gap-4 [transform:rotate3d(1_,-1,_1,_30deg)] duration-500 group-hover:[transform:rotate3d(1_,-1,_1,_0deg)]">
                <div class="flex justify-between items-center">
                  <span class="text-red-800 text-2xl font-extrabold">{{
                    d.title
                  }}</span>
                  <span
                    class="pl-40 top-40 opacity-50 rounded-2xl blur group-hover:blur-none [transform:rotate3d(1_,-1,_1,_30deg)] duration-500 group-hover:[transform:rotate3d(1_,-1,_1,_0deg)]">
                    <a routerLink="/dr-projects">
                      <i
                        class="fa-solid fa-arrow-right p-5 rounded-full bg-blue-950 text-white"></i>
                    </a>
                  </span>
                </div>
                <p class="text-gray-800 font-bold">
                  {{ d.body }}
                </p>
              </div>
            </div>
          </div>

          }
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div class="absolute right-3 text-right">
        <img src="../../../assets/images/ui/dctr.png" alt="" />
      </div>
    </section>
  </section>

  <!---------------- start Brand section ---------------------->
  <section class="pt-20">
    <div class="flex justify-between">
      @for (brand of brands; track $index) {
      <img [src]="brand.src" alt="" />
      }
    </div>
  </section>

  <!---------------- start Blog section ---------------------->

  <div class="flex items-center justify-between pt-24 m-auto gap-20 ">
    <div class="flex items-center gap-4">
      <h1 class="text-4xl text-blue-950 pt-4 uppercase">Read Our Latest Blog</h1>
      <span class="animate-spin">
        <i
          class="fa-solid fa-star-of-life text-5xl text-blue-600 rotate"></i>
      </span>
    </div>
    <div class="w-48">
      <span class="text-blue-950 flex">
        <span class="font-bold text-4xl flex items-center">
          38<i class="fa-solid fa-plus text-1xl text-blue-950"></i>
        </span>
        <span class="text-center uppercase">Professional Doctors</span>
      </span>
    </div>
  </div>
  <hr class="text-blue-950 m-auto" />
  <div class="mx-auto pt-12 pb-7">
    <app-blog />
  </div>
</div>
