<div
  class="lg:flex lg:items-center lg:justify-between pt-12 m-auto gap-20 lg:w-9/12 border-b-2 border-gray-300 pl-4">
  <div class="flex items-center gap-4" data-aos="zoom-out">
    <div class="lg:text-4xl md:text-2xl text-blue-950 lg:pt-4">
      {{ title() }}
    </div>
    <span class="animate-spin">
      <i
        class="fa-solid fa-star-of-life lg:text-4xl md:text-2xl text-blue-700 rotate"></i>
    </span>
  </div>
  <div class="lg:w-48 md:py-4 md:gap-4">
    <span class="text-blue-950 flex items-cente" data-aos="zoom-out">
      <span class="font-bold text-4xl flex items-center">
        {{ count() }}<i class="fa-solid fa-plus text-1xl text-blue-950"></i>
      </span>
      <span class="text-center uppercase">{{ description() }}</span>
    </span>
  </div>
</div>


