<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="flex justify-center items-center gap-2">
      <img src="../../../../assets/images/icons/logo.png" alt="" />
      <strong>Cilivia</strong>
    </mat-toolbar>
    <div class="flex flex-col justify-center items-center p-6 gap-4">
      <div class="w-20 m-auto">
        <img
          [src]="userImg"
          class="bg-white p-1 shadow-lg rounded-xl"
          width="100%"
          height="100%"
          alt="" />
      </div>
      <div>
        <p class="text-sm font-medium">{{ username }}</p>
        <p class="text-xs font-medium text-center">Admin</p>
      </div>
    </div>
    @if(hasAccess){
    <div class="text-xs uppercase ml-4 mb-4">Main</div>
    } @for (menuName of getMenuNames(); track $index) { @for (item of
    groupedData[menuName]; track item ) {
    <div
      class="w-full bg-cover hover:bg-blue-100 hover:shadow-inner focus:bg-white transition-all rounded-2xl ease-linear duration-500">
      <!-- (click)="toggleSubmenu(item)" -->
      <a
      (click)="toggleMenu(item)"
        class="cursor-pointer dark:hover:text-blue-300 mb-4 w-5/6 flex flex-col"
        mat-list-item
        [ngClass]="{
          'selected-menu-item': isRouteActive(item.path),
          'focused-item': focusedRoute === item.path
        }"
        #link="routerLinkActive"
        routerLinkActive
        [activated]="link.isActive"
        >
        <div
          class="focus:text-black flex items-center justify-between hover:text-blue-950 text-blue-950 p-1">
          <div class="flex items-center cursor-pointer gap-2">
            <i [ngClass]="['fa-solid ', item.icon]" class="text-xl"></i>
            <span >
              {{ item.menu_name }}
            </span>
          </div>
     


          <!-- Chevron icon -->
          <div *ngIf="item.submenus.length" >
            <mat-icon
              class="menu-button hover:text-blue-950"
              [@iconRotate]="
                expandedMenus[item.menu_id] ? 'expanded' : 'collapsed'
              ">
              chevron_right
            </mat-icon>
          </div>
        </div>
      </a>
    </div>

    @for (sub of item.submenus;; track $index) { @if
    (expandedMenus[item.menu_id]) {
    <div
      class="submenu mb-4"
      [ngClass]="{ expanded: expandedMenus[item.menu_id] }">
      <a
        class="hover:bg-blue-300 hover:text-blue-950 bg-cover cursor-pointer hover:shadow-inner flex items-center rounded-3xl transition-all ease-linear duration-500 gap-2 p-1"
        [ngClass]="{
          'selected-menu-item': isRouteActive(sub.url),
          'focused-item': focusedRoute === sub.url
        }"
        (click)="setFocus(sub.url)"
        mat-list-item
        [routerLink]="sub.url"
        href="{{ sub.link }}">
        <div class="flex gap-2">
          @if (isActive(sub.url)) {
          <span class="material-symbols-outlined text-blue-950">
            chevron_right
          </span>
          }
          <span class="text-base text-blue-950">
            {{ sub.submenu_name }}
          </span>
        </div>
      </a>
    </div>

    } } } }@empty {
    <div class="flex items-center justify-center">
      <app-loader />
    </div>
    }
    <span (click)="logout()">
      logout
    </span>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="w-screen flex justify-between">
        <div>
          @if (isHandset$ | async) {
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon text-blue-950"
              >menu</mat-icon
            >
          </button>
          }
        </div>
        <div>
          <app-header />
        </div>
      </div>
    </mat-toolbar>
    <div class="sidenav-scroll-wrapper p-4">
      <app-bread-crumb />
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
