<!-- <div class="flex justify-center gap-8" data-aos="fade-up">
  @for (post of posts; track $index) {
  <div class="card">
    <div class="top-card">
      <img [src]="post.img" alt="" />
    </div>
    <div class="px-6">
      <span class="title text-2xl font-medium text-blueDark">{{
        post.title
      }}</span>
    </div>
    <div class="bottom-card">
      <div class="card-content">
        <span
          class="card-title font-medium text-1xl leading-8 whitespace-nowrap w-80 overflow-hidden text-ellipsis text-blueDark">
          {{ post.body }}
        </span>
        <div class="flex justify-between w-4/5 absolute text-xs text-blueDark">
          <p>{{ post.author }}</p>
          <p>{{ post.published_date }}</p>
        </div>
        <a href="#" class="card-btn text-blueDark">Read More</a>
      </div>
    </div>
  </div>
  }
</div> -->




@defer {
  <div class="flex justify-between">
    @for (post of posts; track $index) {
    <div
      class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
      <div
        class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40 bg-gradient-to-r from-blue-500 to-blue-600">
        <img [src]="post.img" alt="" />
      </div>
      <div class="p-6">
        <h5
          class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-950 antialiased">
          {{ post.title }}
        </h5>
        <p
          class="card-title font-medium text-1xl leading-8 whitespace-nowrap w-80 overflow-hidden text-ellipsis text-blue-950">
          {{ post.body }}
        </p>
        <div class="flex justify-between">
          <p
            class="block font-sans text-base font-light leading-relaxed text-blue-600 antialiased">
            {{ post.author }}
          </p>
          <p
            class="block font-sans text-base font-light leading-relaxed text-blue-600 antialiased">
            {{ post.published_date }}
          </p>
        </div>
      </div>
      <div class="p-6 pt-0">
        <button
          data-ripple-light="true"
          type="button"
          class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
          Read More
        </button>
      </div>
    </div>
    }
  
  </div>
  }@placeholder(minimum 3000ms) {
  <app-placeholder />
  }