@defer {
<div class="desktop:flex desktop:justify-between">
  @for (post of posts; track $index) {
  <div
    class="flex desktop:w-96 mobile:ml-4 mr-4 flex-col bg-clip-border text-gray-700 shadow-md m-auto rounded-[1em] relative group p-2 z-0">
    <div
      class="bg-gray-100 m-auto rounded-[1em] relative group p-2 z-0 overflow-hidden">
      <div
        class="h-full w-[20%] bg-blue-300 absolute left-0 bottom-full z-10 opacity-40 group-hover:translate-y-full duration-[400ms]"></div>
      <div
        class="h-full w-[20%] bg-blue-300 absolute left-[20%] top-full z-10 opacity-40 group-hover:-translate-y-full duration-[400ms] delay-[50ms]"></div>
      <div
        class="h-full w-[20%] bg-blue-300 absolute left-[40%] bottom-full z-10 opacity-40 group-hover:translate-y-full duration-[400ms] delay-[100ms]"></div>
      <div
        class="h-full w-[20%] bg-blue-300 absolute left-[60%] top-full z-10 opacity-40 group-hover:-translate-y-full duration-[400ms] delay-[150ms]"></div>
      <div
        class="h-full w-[20%] bg-blue-300 absolute left-[80%] bottom-full z-10 opacity-40 group-hover:translate-y-full duration-[400ms] delay-[200ms]"></div>

      <img
        [src]="post.img"
        alt=""
        class="z-0 font-bold font-Poppin text-[1.4em] group-hover:text-white duration-100" />
    </div>

    <div class="p-6">
      <div class="flex justify-between">
        <p
          class="block font-sans text-xs font-light leading-relaxed text-blue-600 antialiased">
          {{ post.author }}
        </p>
        <p
          class="block font-sans text-xs font-light leading-relaxed text-blue-600 antialiased">
          {{ post.published_date }}
        </p>
      </div>
      <h6
        class="mb-2 block font-sans font-bold leading-snug tracking-normal text-blue-950 antialiased hover:text-blue-600 duration-[400ms] delay-[150ms] cursor-pointer">
        {{ post.title }}
      </h6>
      <p
        class="card-title font-medium text-1xl leading-8 whitespace-nowrap w-80 overflow-hidden text-ellipsis text-blue-950">
        {{ post.body }}
      </p>
    </div>
    <!-- <div class="p-6 pt-0">
      <button
        data-ripple-light="true"
        type="button"
        class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
        Read More
      </button>
    </div> -->
  </div>
  }
</div>
}@placeholder(minimum 3000ms) {
<app-placeholder />
}
