<div class="flex justify-center gap-8">
  <div class="card">
    <div class="top-card">
      <img src="../../../assets/images/ui/blog/blog.jpg" alt="" />
    </div>
    <div class="flex gap-10 pl-10">
      <div class="blog-date text-blueDark">
        <span class="circle"></span>
        APRIL 10, 2024 </div>
      <div class="blog-date text-blueDark"> ADMIN </div>
    </div>
    <div class="bottom-card">
      <div class="card-content">
        <span class="card-title text-blueDark">
          <a href="">Top 10 Popular Equipments for Medical Industre</a>
        </span>
        <a href="#" class="card-btn text-blueDark">Read More</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="top-card">
      <img src="../../../assets/images/ui/blog/blog.jpg" alt="" />
    </div>
    <div class="flex gap-14 pl-10">
      <div class="blog-date text-blueDark">
        <span class="circle"></span>
        APRIL 10, 2024 </div>
      <div class="blog-date text-blueDark"> ADMIN </div>
    </div>
    <div class="bottom-card">
      <div class="card-content">
        <span class="card-title text-blueDark">
          <a href="">Top 10 Popular Equipments for Medical Industre</a>
        </span>
        <a href="#" class="card-btn text-blueDark">Read More</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="top-card">
      <img src="../../../assets/images/ui/blog/blog.jpg" alt="" />
    </div>
    <div class="flex gap-10 pl-10">
      <div class="blog-date text-blueDark">
        <span class="circle"></span>
        APRIL 10, 2024 </div>
      <div class="blog-date text-blueDark"> ADMIN </div>
    </div>
    <div class="bottom-card">
      <div class="card-content">
        <span class="card-title text-blueDark">
          <a href="">Top 10 Popular Equipments for Medical Industre</a>
        </span>
        <a href="#" class="card-btn text-blueDark">Read More</a>
      </div>
    </div>
  </div>

</div>
