<div class="flex justify-between">
  @for (item of loadingCards; track $index) {
  <div
    class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow animate-pulse md:p-6 dark:border-gray-400">
    <div
      class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40 bg-gray-300"></div>
    <div class="p-6">
      <div
        class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-400 w-48 mb-4"></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-400 mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-400 mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-400"></div>
    </div>
    <div class="p-6 pt-0">
      <button
        data-ripple-light="true"
        type="button"
        class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-400 w-32 mb-2"></button>
    </div>
    <span class="sr-only">Loading...</span>
  </div>
  }
</div>
