<div
  class="flex justify-between p-8 fixed z-10 top-0 w-full pt-5"
  [@bgColorChange]="bgColor">
  <div class="col-span-2 flex justify-center items-center">
    <div class="w-36 h-auto">
      @if (navbarVisible()) {

      <a href="/home">
        <img
          src="../../../assets/images/icons/ui/logo.png"
          width="100%"
          height="100%"
          alt="" />
      </a>
      }@else{
      <a href="/">
        <img
          src="../../../assets/images/icons/ui/logo2.png"
          width="100%"
          height="100%"
          alt="" />
      </a>
      }
    </div>
  </div>
  <div class="col-span-8 flex justify-center items-center">
    <div class="menu bg-lightGray rounded-2xl">
      <div class="item">
        <a class="link">
          <span> Services </span>
          <svg viewBox="0 0 360 360" xml:space="preserve">
            <g id="SVGRepo_iconCarrier">
              <path
                id="XMLID_225_"
                d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path>
            </g>
          </svg>
        </a>
        <div class="submenu">
          <div class="submenu-item">
            <a routerLink="/services" class="submenu-link"> Our Services </a>
          </div>
          <div class="submenu-item">
            <a href="#" class="submenu-link"> Design </a>
          </div>
          <div class="submenu-item">
            <a href="#" class="submenu-link"> Marketing </a>
          </div>
          <div class="submenu-item">
            <a href="#" class="submenu-link"> SEO </a>
          </div>
        </div>
      </div>
      <div class="item">
        <a routerLink="/about-us" class="link">
          <span> About Us </span>
        </a>
   
      </div>
      <div class="item">
        <a href="#" class="link">
          <span> Our Services </span>
          <svg viewBox="0 0 360 360" xml:space="preserve">
            <g id="SVGRepo_iconCarrier">
              <path
                id="XMLID_225_"
                d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path>
            </g>
          </svg>
        </a>
        <div class="submenu">
          <div class="submenu-item">
            <a href="#" class="submenu-link"> Development </a>
          </div>
          <div class="submenu-item">
            <a href="#" class="submenu-link"> Design </a>
          </div>
          <div class="submenu-item">
            <a href="#" class="submenu-link"> Marketing </a>
          </div>
          <div class="submenu-item">
            <a href="#" class="submenu-link"> SEO </a>
          </div>
        </div>
      </div>
      <div class="item">
        <a routerLink="/contact-us" class="link">
          <span> Contact Us </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-span-2 flex justify-center items-center gap-4">
    <button mat-icon-button matTooltip="View Detail">
      <span class="material-symbols-outlined text-blue"> search </span>
    </button>
    <button dfButton appearance="solid">Decoded Frontend</button>
  </div>
</div>
