<app-service-section [title]="title()">
  <div class="mobile:w-full desktop:w-11/12 mx-auto">
    <div class="keen-slider" #sliderRef>
      @for (data of swiperData(); track $index) {
      <div class="keen-slider__slide">
        <div class="single-service-box aos-init aos-animate">
          <div class="service-thumb">
            <div class="img-slide bg-gray-100">
              <img class="relative w-full h-full max-h-48" [src]="data.src" />
            </div>
            <div class="service-icon cursor-scale small">
              <a routerLink="/dr-projects">
                <i class="fa-solid fa-arrow-trend-up text-2xl"></i>
              </a>
            </div>
          </div>
          <div class="absolute z-1 bottom-10 left-4 flex flex-col gap-2">
            <h6 class="!text-xl text-white !font-medium text-center">
              {{ data.name }}
            </h6>
            <h2 class="!text-base  text-white !font-medium">
                <a class="flex gap-2 items-center"
                >
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 16 16"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round">
                <!-- Outer Shape -->
                <path
                  d="M8.3 15.167c-.586 0-1.166-.127-1.626-.38l-3.56-1.98c-.967-.534-1.72-1.82-1.72-2.927V6.113c0-1.106.753-2.386 1.72-2.926l3.56-1.974c.913-.506 2.34-.506 3.253 0l3.56 1.98c.967.534 1.72 1.82 1.72 2.927v3.767c0 1.106-.753 2.386-1.72 2.926l-3.56 1.974c-.46.253-1.04.38-1.627.38m0-13.334c-.42 0-.833.087-1.14.254L3.6 4.067c-.64.353-1.206 1.313-1.206 2.046V9.88c0 .733.566 1.693 1.206 2.053l3.56 1.98c.607.34 1.674.34 2.28 0l3.56-1.98c.64-.36 1.207-1.313 1.207-2.053V6.113c0-.733-.567-1.693-1.207-2.053L9.44 2.08c-.306-.16-.72-.247-1.14-.247" />
                <!-- Vertical Line -->
                <path
                  d="M8.3 14.907a.504.504 0 0 1-.5-.5V8.36c0-.273.227-.5.5-.5.274 0 .5.227.5.5v6.047c0 .273-.226.5-.5.5" />
                <!-- Horizontal Line -->
                <path
                  d="M8.3 8.867a.5.5 0 0 1-.253-.067L2.161 5.393a.501.501 0 1 1 .507-.867L8.3 7.787l5.6-3.24a.507.507 0 0 1 .686.18c.14.24.053.547-.18.687L8.561 8.8a.6.6 0 0 1-.26.067" />
              </svg>
                Service:{{ data.count }} +
            
              </a>
            </h2>
          </div>
        </div>
      </div>
      }
      <svg
        [ngClass]="
          'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
        "
        (click)="slider.prev()"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path
          d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
      </svg>
      <svg
        *ngIf="slider"
        [ngClass]="
          'arrow arrow--right ' +
          (slider.track.details.slides.length - 1 === currentSlide
            ? 'arrow--disabled'
            : '')
        "
        (click)="slider.next()"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </div>
    <div class="dots">
      <button
        (click)="slider.moveToIdx(i)"
        *ngFor="let slide of dotHelper; let i = index"
        [class]="'dot ' + (i === currentSlide ? 'active' : '')"></button>
    </div>
  </div>
</app-service-section>
