<div class="grid grid-rows-9 grid-cols-9 grid-flow-col gap-4 w-10/12 m-auto">
  <div class="row-span-9 col-span-2 bg-white rounded-2xl p-4">
    <h2 class="pb-2">Filters</h2>
    <ng-content></ng-content>
    <mat-tab-group>
      <mat-tab>
        <div class="mx-4">
          @if (valueFiltering) { @for (item of valueFiltering; track $index;let
          i = $index) {
          <span
            class="bg-gray-300 rounded-2xl w-fit max-w-56 flex items-center gap-4 my-3 px-3"
            (click)="deleteFilter(i)"
            >{{ item }}
            <i class="fa-solid fa-xmark"></i>
          </span>
          }
          <mat-divider></mat-divider>
          }
        </div>
        <ng-template mat-tab-label>
          <div class="flex gap-1">
            <img
              src="../../../../assets/images/ui/svg/clinic-appointment.svg"
              alt="" />
            <span class="text-xs"> Clinic Appointment </span>
          </div>
        </ng-template>

        <!-- tettgeneric -->
        <form action="" [formGroup]="form">
          <app-generic-auto-compelete
            [label]="'Specialty and Super-specialty'"
            [placeHolder]="'Test Placeholder'"
            [parentForm]="form"
            [formCrName]="'speciality'"
            [filterOption]="filteredSpeciality"
            (valueInput)="getValueSpecialty($event)" />
          <mat-divider></mat-divider>

          <app-generic-auto-compelete
            [label]="'Services'"
            [placeHolder]="'Please choose the service you need.'"
            [parentForm]="form"
            [formCrName]="'services'"
            [filterOption]="filteredServices"
            (valueInput)="getValueService($event)" />
          <mat-divider></mat-divider>
          <app-generic-auto-compelete
            [label]="'City'"
            [placeHolder]="'City'"
            [parentForm]="form"
            [fieldCtrl]="'city'"
            [filterOption]="filteredCity"
            (valueInput)="getValueCity($event)" />
          <mat-divider></mat-divider>

          <app-generic-auto-compelete
            [label]="'Neighborhood'"
            [placeHolder]="'Neighborhood'"
            [parentForm]="form"
            [formCrName]="'neighborhoodForm'"
            [filterOption]="filteredNeighborhood"
            (valueInput)="getValueNeighborhood($event)" />
          <mat-divider></mat-divider>

          <app-generic-auto-compelete
            [label]="'Insurance'"
            [placeHolder]="'Insurance'"
            [parentForm]="form"
            [formCrName]="'insurance'"
            [filterOption]="filteredInsurance"
            (valueInput)="getValueInsurance($event)" />
        </form>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="flex gap-1">
            <img
              src="../../../../assets/images/ui/svg/phone-consultaion.svg"
              alt="" />
            <span class="text-xs"> Phone Consultation </span>
          </div>
        </ng-template>
        Content 2
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="flex gap-1">
            <img
              src="../../../../assets/images/ui/svg/text-consultaion.svg"
              alt="" />
            <span class="text-xs"> Text Consultation </span>
          </div>
        </ng-template>

        Content 3
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="bg-slate-100 col-span-7 font-bold p-4 rounded-2xl">
    Online appointment of the best doctors in Malaysia
  </div>

  <div class="row-span-8 col-span-7 bg-slate-100 p-4 rounded-2xl">
    <div class="grid grid-cols-8 my-auto">
      <span class="flex items-center gap-1 opacity-55">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          width="24"
          height="24">
          <path
            d="M17.5 6.458h-15a.63.63 0 0 1-.625-.625.63.63 0 0 1 .625-.625h15a.63.63 0 0 1 .625.625.63.63 0 0 1-.625.625M15 10.625H5A.63.63 0 0 1 4.375 10 .63.63 0 0 1 5 9.375h10a.63.63 0 0 1 .625.625.63.63 0 0 1-.625.625M11.665 14.792H8.332a.63.63 0 0 1-.625-.625.63.63 0 0 1 .625-.625h3.333a.63.63 0 0 1 .625.625.63.63 0 0 1-.625.625"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round" />
        </svg>
        Sort by:</span
      >
      @for (option of filterOptions; track $index) {
      <button
        mat-button
        class="filter-item"
        (click)="setActiveFilter(option)"
        [class.active]="option.key === activeFilter">
        <span class="text-xs">{{ option.label }}</span>
      </button>
      }
    </div>
    <div
      class="flex flex-wrap justify-center mt-6 overflow-auto border-2 rounded-xl p-2 border-gray-300 max-h-[35rem]">
      <ng-content></ng-content>
    </div>
  </div>
</div>
