.breatcome-section {
    background: url(../../../../assets/images/ui/breatcome.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 420px;
    position: relative;
}

@media screen and (min-width: 320px) {
    .breatcome-section {
        background: url(../../../../assets/images/ui/breatcome.png);
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

    }
}   