<div class="bg-blueDark">
  <div
    class="grid grid-cols-3 w-10/12 m-auto pt-28 border-b-2 border-lightGray">
    <div class="text-white">
      <h1>PROVIDES BEST SERVICE</h1>
    </div>
    <div class="text-lightGray">
      Enthusiastically orchestrate competitive e-services whereas superior
      Conveniently disintermediate innovative solutions through impactfuls
      tailers without seamless markets network .
    </div>
    <div class="flex justify-end">
      <button dfButton>View All Service</button>
    </div>
  </div>

  <swiper-container
    loop="true"
    navigation="true"
    slides-per-view="4"
    speed="1500"
    pagination="true"
    class="w-10/12 flex justify-center items-center pt-14 pb-24">
    <swiper-slide lazy="true">
      <img src="../../../assets/images/ui/srvce2.png" loading="lazy" alt="" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="../../../assets/images/ui/srvce.png" loading="lazy" alt="" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="../../../assets/images/ui/srvce3.png" alt="" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="../../../assets/images/ui/srvce4.png" alt="" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="../../../assets/images/ui/srvce4.png" alt="" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="../../../assets/images/ui/srvce4.png" loading="lazy" alt="" />
    </swiper-slide>
  </swiper-container>
</div>


