<div class="bg-blueDark p-7">
  <div
    class="grid grid-cols-3 w-10/12 m-auto pt-28 border-b-2 border-lightGray">
    <div class="text-white" data-aos="fade-up">
      <h1>PROVIDES BEST SERVICE</h1>
    </div>
    <div class="text-lightGray" data-aos="fade-down">
      Enthusiastically orchestrate competitive e-services whereas superior
      Conveniently disintermediate innovative solutions through impactfuls
      tailers without seamless markets network .
    </div>
    <div class="flex justify-end" data-aos="fade-up">
      <button dfButton>View All Service</button>
    </div>
  </div>
  <div class="swiper serviceSwiper w-10/12 mt-10">
    <div class="swiper-wrapper">
      @for (image of images; track $index) {
      <div class="swiper-slide">
        <div class="single-service-box aos-init aos-animate">
          <div class="service-thumb">
            <img class="relative" [src]="image.src" />
            <div class="service-icon cursor-scale small">
              <a href="">
                <i class="fa-solid fa-arrow-trend-up text-2xl"></i>
              </a>
            </div>
          </div>
          <div class="service-content">
            <h6 class="text-2xl">Dentist</h6>
            <h2 class="text-blueDark">
              <a href=""> Dental Fixing </a>
            </h2>
          </div>
        </div>
      </div>

      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
