<div class="btn_calendar">
  <button
    mat-flat-button
    class="btn-today"
    color="primary"
    (click)="setCurrentMonth()">
    Today
  </button>
  <strong class="displayMonth">
    {{ displayMonth }}
  </strong>
  <div class="example-button-container flex gap-4">
    <button
      mat-mini-fab
      color="primary"
      aria-label=""
      (click)="decreaseMonth()">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button
      mat-mini-fab
      color="primary"
      aria-label=""
      (click)="increaseMonth()">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
<div cdkDropListGroup>
  <table class="calendar-table">
    <thead>
      <tr>
        @for (weekDay of weekDayNames; track $index) {
        <th>{{ weekDay }}</th>
        } @empty {
        <li>There are no items.</li>
        }
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of calendar | chunk : 7; let i = index">
        <td
          class="calendar-day"
          [ngClass]="{ 'past-date': c.isPastDate, today: c.isToday }"
          *ngFor="let c of row; let j = index"
          (click)="getValueOfMonth(c)">
          <div
            class="calendar-day-header"
            [ngClass]="{ 'blue-date': c.isToday }"
            cdkDropList
            [cdkDropListData]="calendar"
            (cdkDropListDropped)="drop($event)"
            (cdkDragEnded)="dragEnded($event)">
            <!-- Day of the month -->
            <strong>{{ c.date.getDate() }}</strong>

            <!-- Display month name for today or the first date -->
            <strong
              *ngIf="c.isToday || (i == 0 && j == 0) || c.date.getDate() == 1">
              {{ monthNames[c.date.getMonth()] }}
            </strong>

            <!-- Events in the dataList -->
            <div
              *ngFor="let event of c.dataList; let k = index"
              cdkDrag
              class="body-event">
              <!-- this is for event right click() -->
              <!-- (contextmenu)="onRightClick($event, c)" -->
              <p class="event_title">
                <span
                  [ngClass]="{
                    'priority-circle': true,
                    'priority-high': event.priority === 'Red' && blinking,
                    'priority-medium': event.priority === 'Green' && blinking,
                    'priority-normal': event.priority === 'Purple' && blinking,
                    'priority-low': event.priority === 'Blue' && blinking,
                    'priority-mid': event.priority === 'Yellow' && blinking
                  }">
                </span>
                <strong>{{ event.event_title }}</strong
                ><br />
                <small>{{ event.event_description }}</small
                ><br />
                <small>{{ event.appointment_time }}</small>
              </p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
@if (contextMenuVisible) {
<div
  [ngStyle]="{ top: contextMenuPosition.y, left: contextMenuPosition.x }"
  class="context-menu">
  <div class="btn_delete">
    <button
      mat-button
      color="primary"
      class="flat"
      type="button"
      (click)="deleteAppointment()">
      <span class="material-symbols-outlined"> delete </span>
      <span> Delete </span>
    </button>
  </div>
  <hr />
  <div>
    <p
      class="priority"
      [style.background-color]="dataContexMenu.dataList[0].color"></p>
  </div>
</div>
}
