<div
  class="md:w-full flex items-center justify-between md:pl-4 pt-12 mx-auto lg:gap-20 lg:w-11/12 border-b-2 border-gray-300">
  <div class="w-full flex items-center gap-4">
    <div class="lg:text-6xl md:text-base font-bold text-blue-950">
      {{ title() }}
    </div>
    <span class="animate-spin">
      <i
        class="fa-solid fa-star-of-life lg:text-5xl md:text-2xl text-blue-500 rotate"></i>
    </span>
  </div>
  <div class="w-full flex justify-end mr-4 pt-7 md:pb-8">
    <div class=" flex">
      <span
        class="lg:text-4xl md:text-base text-blue-500 font-extrabold flex items-center">
        {{ counter() }}
        <i class="fa-solid fa-plus text-1xl font-extrabold text-blue-500"></i>
      </span>
      <span class="text-center md:text-sm font-bold text-blue-950">{{ subtitle() }}</span>
    </div>
  </div>
</div>
