<section class="w-full">
  <mat-card appearance="outlined" class="p-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="mt-4">
      <mat-tab-group
        animationDuration="500ms"
        mat-stretch-tabs="false"
        mat-align-tabs="start"
        [(selectedIndex)]="selectedIndex"
        (selectedTabChange)="onTabChanged($event.index)">
        
        <!-- ***** patientInfo ***** -->
        <mat-tab label="PatientInfo" [tabIndex]="0">
          <div formArrayName="patientInfo" class="p-5">
            <h2 class="text-3xl font-medium">{{ title() }}</h2>
            <div class="lg:grid grid-cols-4 gap-3">
              <!-- *****Patient Name***** -->
              <mat-form-field appearance="outline" class="w-full">
                <mat-select
                  name="patientName"
                  formControlName="patientName"
                  placeholder="selected Patient...">
                  <input
                    type="text"
                    placeholder="Pick up patient..."
                    (input)="filterPatient()"
                    style="width: 100%; padding: 8px; margin-bottom: 8px" />
                  <mat-option
                    *ngFor="let p of filteredPatient"
                    [value]="p.patientName"
                    (onSelectionChange)="onSelectedChange(p)">
                    {{ p.patientName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- *****Date of birth***** -->
              <mat-form-field
                data-testing="department"
                appearance="outline"
                class="w-full">
                <mat-label>Date Of Birth</mat-label>
                <input
                  type="text"
                  matInput
                  [errorStateMatcher]="matcher"
                  formControlName="dateOfBirth" />
              </mat-form-field>

              <!-- *****bloodGroup***** -->
              <mat-form-field
                data-testing="department"
                appearance="outline"
                class="w-full">
                <mat-label>bloodGroup</mat-label>
                <input
                  type="text"
                  matInput
                  [errorStateMatcher]="matcher"
                  formControlName="bloodGroup" />
              </mat-form-field>

              <!-- *****bloodPressure***** -->
              <mat-form-field
                data-testing="department"
                appearance="outline"
                class="w-full">
                <mat-label>bloodPressure</mat-label>
                <input
                  type="text"
                  matInput
                  [errorStateMatcher]="matcher"
                  formControlName="bloodPressure" />
              </mat-form-field>

              <!-- *****haemoglobin***** -->
              <mat-form-field
                data-testing="department"
                appearance="outline"
                class="w-full">
                <mat-label>haemoglobin</mat-label>
                <input
                  type="text"
                  matInput
                  [errorStateMatcher]="matcher"
                  formControlName="haemoglobin" />
              </mat-form-field>

              <!-- *****md***** -->
              <mat-form-field
                data-testing="department"
                appearance="outline"
                class="w-full">
                <mat-label>md</mat-label>
                <input
                  type="text"
                  matInput
                  [errorStateMatcher]="matcher"
                  formControlName="md" />
              </mat-form-field>

              <!-- *****sugarLevel***** -->
              <mat-form-field
                data-testing="department"
                appearance="outline"
                class="w-full">
                <mat-label>sugarLevel</mat-label>
                <input
                  type="text"
                  matInput
                  [errorStateMatcher]="matcher"
                  formControlName="sugarLevel" />
              </mat-form-field>
            </div>

            <div class="flex justify-end items-center gap-2 pr-4">
              <button mat-stroked-button type="button" (click)="previoseTab()">
                Previouse
              </button>
              <button
                [disabled]="!form.controls.patientInfo.valid"
                class="lg:m-0 tablet:mt-2 md:mt-2"
                mat-flat-button
                data-testid="login-button"
                type="button"
                (click)="patientNextTab()">
                Next
              </button>
            </div>
          </div>
          <ng-template #noContent> No conent... </ng-template>
        </mat-tab>

        <mat-tab label="Disease" [tabIndex]="1">
          <div
            formArrayName="diseases"
            class="lg:grid grid-cols-4 gap-3 p-5">
            <!-- *****Diseases***** -->
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Selected Diseases...</mat-label>
              <mat-select name="selectedDiseases" formControlName="diseases">
                <input
                  type="text"
                  placeholder="Pick up Diseases..."
                  (input)="filterDiseases()"
                  style="width: 100%; padding: 8px; margin-bottom: 8px" />
                <mat-option
                  *ngFor="let p of filteredDiseases"
                  [value]="p.name"
                  (onSelectionChange)="onSelectedChangeDiseases(p.disease_id)">
                  {{ p.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- *****disease_subcategories***** -->
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Selected SubCategoriesDisease...</mat-label>

              <mat-select
                name="SubCategoriesDisease"
                formControlName="diseaseSubcategories"
                [disabled]="isSelectDisease">
                <input
                  type="text"
                  placeholder="Pick up SubCategoriesDisease..."
                  (input)="filterSubCategoriesDisease()"
                  style="width: 100%; padding: 8px; margin-bottom: 8px" />
                <mat-option
                  *ngFor="let p of filteredSubCategoriesDisease"
                  (onSelectionChange)="onSelectedChangeSubCat(p)"
                  [value]="p.name">
                  {{ p.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- *****Severity***** -->
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Severity</mat-label>
              <mat-select
                [disabled]="isSelectedSubCategory"
                formControlName="severity">
                @for (s of severityData; track s) {
                <mat-option [value]="s.value">{{ s.viewValue }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex justify-end items-center gap-2 pr-4">
            <button mat-stroked-button type="button" (click)="previoseTab()">
              Previouse
            </button>
            <button
              [disabled]="!form.controls.patientInfo.valid"
              class="lg:m-0 tablet:mt-2 md:mt-2"
              mat-flat-button
              data-testid="login-button"
              type="button"
              (click)="diseasesNextTab()">
              Next
            </button>
          </div>
        </mat-tab>

        <!-- ***** medication ***** -->
        <mat-tab label="medication" [tabIndex]="2">
          <div formArrayName="medication">
            <div class="mt-4">
              <h2 class="text-3xl font-medium">Precription Medicine</h2>
              <div class="lg:grid grid-cols-4 gap-3 pt-4 p-5">
                <!-- *****Medicine***** -->
                <ali-select
                  label="Pick the Medicine"
                  multiple
                  [searchable]="true"
                  [compareWith]="compareWithFn"
                  [displayWith]="displayWithFn"
                  [disabled]="false"
                  formControlName="medicine"
                  (closed)="onSearchChanged('')"
                  (searchChanged)="onSearchChanged($event)">
                  <div class="w-[300px]">
                    @for (medic of filterMedicData; track $index) {
                    <app-option [value]="medic" class="w-full">
                      <div class="flex justify-between items-center w-full">
                        <div>
                          <i class="fa-solid fa-tablets text-blue-600"></i>
                          {{ medic.name }}
                        </div>
                        <div
                          (click)="
                            $event.stopPropagation(); selectedFavorite(medic)
                          ">
                          <i
                            matTooltip="Add favorite"
                            class="fa-solid fa-star"
                            [ngClass]="{
                              'text-yellow-400': medic.isFavorite,
                              'text-gray-400': !medic.isFavorite
                            }"></i>
                        </div>
                      </div>
                    </app-option>
                    }
                  </div>
                </ali-select>
                <!-- *****Duration***** -->
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Duration</mat-label>
                  <mat-select formControlName="duration">
                    @for (d of durationOption; track d) {
                    <mat-option [value]="d.value">{{ d.viewValue }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>

                <!-- *****frequencyOptions***** -->
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>frequencyOptions</mat-label>
                  <mat-select
                    formControlName="frequency"
                    (selectionChange)="onFrequencyChange($event)">
                    @for (d of frequencyOptions; track d) {
                    <mat-option [value]="d.value">{{ d.viewValue }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                @if (frequency?.value === 'custom') {
                <mat-form-field appearance="outline">
                  <mat-label>Custom Frequency</mat-label>
                  <input
                    matInput
                    formControlName="customFrequency"
                    placeholder="Enter custom frequency" />
                </mat-form-field>
                }
                <!-- *****prescribed_date***** -->
                <mat-form-field appearance="outline" class="w-full mb-1">
                  <mat-label>prescribed_date</mat-label>
                  <input
                    [max]="maxDate"
                    [min]="minDate"
                    matInput
                    [matDatepicker]="picker"
                    formControlName="prescribed_date" />
                  <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                  <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon
                      >keyboard_arrow_down</mat-icon
                    >
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="p-5">
                <!-- *****description***** -->
                <mat-form-field
                  data-testing="department"
                  appearance="outline"
                  class="w-full">
                  <mat-label>description</mat-label>
                  <textarea
                    matInput
                    placeholder="Ex. It makes me feel..."
                    formControlName="description"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="flex justify-end items-center gap-2 pr-4">
              <!-- *****CancelBTN***** -->
              <button mat-stroked-button type="button" (click)="form.reset()">
                Cancel
              </button>
              <!-- *****Next***** -->
              <button
                [disabled]="!form.controls.medication.valid"
                class="lg:m-0 tablet:mt-2 md:mt-2"
                mat-flat-button
                data-testid="login-button"
                type="button"
                (click)="medicationNextTab()">
                Next
              </button>
            </div>
          </div>
        </mat-tab>

        <!-- ***** Prescription ***** -->
        <mat-tab label="Prescription" [tabIndex]="3">
          <div class="border-2 p-4 rounded-md mt-2">
            <ng-container class="p-4 border-2 border-dashed rounded-lg mt-5 p">
              <!-- Patient Information -->
              <div class="text-2xl font-medium py-6 opacity-50">
                Patient Information
              </div>
              @for (item of patientInfoTab; track $index) {
              <div
                class="grid md:grid-cols-2 lg:grid-cols-3 grid-cols-4 gap-4 pb-2">
                <div>
                  <span class="opacity-55">Patient Name:</span>
                  <span class="pl-1">{{ item.patientName }}</span>
                </div>
                <div>
                  <span class="opacity-55">Sugar Level:</span>
                  <span class="pl-1">{{ item.sugarLevel }}</span>
                </div>
                <div>
                  <span class="opacity-55">md:</span>
                  <span class="pl-1">{{ item.md }}</span>
                </div>
                <div>
                  <span class="opacity-55">Haemoglobin:</span>
                  <span class="pl-1">{{ item.haemoglobin }}</span>
                </div>
                <div>
                  <span class="opacity-55">Date of Birth:</span>
                  <span class="pl-1">{{ item.dateOfBirth }}</span>
                </div>
                <div>
                  <span class="opacity-55">Blood Pressure:</span>
                  <span class="pl-1">{{ item.bloodPressure }}</span>
                </div>
              </div>
              }

              <hr />
              <!-- Prescription Medicine -->
              <div class="text-2xl font-medium py-6 opacity-50">Disease</div>
              @for (item of diseaseTab; track $index) {
              <div
                class="grid md:grid-cols-2 lg:grid-cols-3 grid-cols-4 gap-4 pb-2">
                <div>
                  <span class="opacity-55">Diseases:</span>
                  <span class="pl-1">{{ item?.diseases }}</span>
                </div>
                <div>
                  <span class="opacity-55">DiseaseSubcategories:</span>
                  <span class="pl-1">{{ item.diseaseSubcategories }}</span>
                </div>
                <div>
                  <span class="opacity-55">Severity:</span>
                  <span class="pl-1">{{ item.severity }}</span>
                </div>
              </div>
              }
              <hr />
              <!-- Prescription Medicine -->
              <div class="text-2xl font-medium py-6 opacity-50">
                Prescription Medicine
              </div>
              @for (item of medicationTab; track $index) {
              <div>
                <span class="opacity-55">Medicine:</span>
                @for (m of item.medicine ; track $index) {
                <span class="pl-1">{{ m.name }}</span>
                @if (m) {
                <span>,</span>

                } }
              </div>
              <div
                class="grid md:grid-cols-2 lg:grid-cols-3 grid-cols-4 gap-4 pb-2">
                <div>
                  <span class="opacity-55">Duration:</span>
                  <span class="pl-1">{{ item.duration }}</span>
                </div>
                <div>
                  <span class="opacity-55">Frequency:</span>
                  <span class="pl-1">{{ item.frequency }}</span>
                </div>
                <div>
                  <span class="opacity-55">prescribed_date:</span>
                  <span class="pl-1">{{ item.prescribed_date | date }}</span>
                </div>
              </div>
              <div>
                <span class="opacity-55">Description:</span>
                <span class="pl-1">{{ item.description }}</span>
              </div>
              }
            </ng-container>
          </div>

          <div class="lg:grid grid-cols-2 gap-3 lg:mt-10 mb-2">
            <!-- *****CancelBTN***** -->
            <button mat-stroked-button type="button" (click)="form.reset()">
              Cancel
            </button>
            <!-- *****SaveBTN***** -->
            <button
              [disabled]="!form.valid"
              class="lg:m-0 tablet:mt-2 md:mt-2"
              mat-flat-button
              data-testid="login-button"
              type="submit">
              Final Save
            </button>
          </div>
        </mat-tab>

      </mat-tab-group>
    </form>
  </mat-card>
</section>
