<div class="lg:pt-4">
  <div class="breatcome-section lg:mt-28">
    <div class="container mx-auto">
      <div
      class="font-semibold text-white flex justify-center items-center lg:pt-36 md:text-xl md:pt-32 uppercase">
        About Us
      </div>
      <div class="text-white flex justify-center items-center uppercase">
        Mediic / About Us
      </div>
    </div>
  </div>
</div>

<div class="lg:container lg:m-auto flex justify-center flex-wrap gap-6 lg:pt-24 lg:pr-0 lg:pb-32 md:pt-6 md:mx-4">
  <section class="lg:flex gap-20 justify-center">
    <div>
      <img
        src="../../../assets/images/ui/about3.jpg"
        class="w-full rounded-3xl"
        alt="" />
      <div class="counter-right-side lg:w-[549px]">
        <div class="flex flex-col gap-2">
          <div class="uppercase text-white text-5xl font-extrabold">
            275 <span>K</span>
          </div>
          <div>
            <span class="uppercase text-white text-1xl font-medium"
              >Recovered Patients</span
            >
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <div class="uppercase text-white text-5xl font-extrabold">90%</div>
          <div>
            <span class="uppercase text-white text-1xl font-medium"
              >Satisfaction Rate</span
            >
          </div>
        </div>
      </div>
    </div>
    <div>
      <p class="text-blue-600 md:pt-4">ABOUT COMPANY</p>
      <div class="text-blue-950 lg:text-7xl md:text-2xl font-bold leading-tight">
        Best Health Center Since - 2007
      </div>
      <p class="pt-4 text-blue-950">
        Continually evolve professional intellectual capital without enterprise
        users. Seamlessly matrix value added e-commerce. Uniquely e-enable
        innovative technologies via team
      </p>

      <div class="lg:flex gap-32 pt-5">
        <ul class="flex flex-col gap-5 about-mediic-services ">
          <li class="text-blue-950 flex items-center gap-1">
            <i class="fa-solid fa-circle text-blue-600"></i>
            Psychodynamic Therapy
          </li>
          <li class="text-blue-950 flex items-center gap-1">
            <i class="fa-solid fa-circle text-blue-600"></i>Couple Problem
            Therapy
          </li>
        </ul>
        <ul class="flex flex-col gap-5">
          <li class="text-blue-950 flex items-center gap-1">
            <i class="fa-solid fa-circle text-blue-600"></i>Free
            Consultants
          </li>
          <li class="text-blue-950 flex items-center gap-1">
            <i class="fa-solid fa-circle text-blue-600"></i>Metal
            Satisfications
          </li>
        </ul>
      </div>
    </div>
    <div class="absolute right-3 text-right">
      <img src="../../../assets/images/ui/dctr.png" alt="" />
    </div>
  </section>

  <section class="pt-20 flex gap-10">
    <div class="mission-vission-single-box">
      <div class="mission-vission-content">
        <div class="flex items-center">
          <div class="m_v-ssion-icon">
            <img
              src="../../../assets/images/ui/m-icon2.png"
              alt="a canyon"
              alt="" />
          </div>
          <div class="m_v-ssion-title">
            <h3 class="pt-3">Our Mission</h3>
          </div>
        </div>
        <div class="pt-5">
          <p>
            Professional mision capital without enterp medical users pros value
            added e-enable creative technology via team.
          </p>
        </div>
      </div>
    </div>
    <div class="mission-vission-single-box">
      <div class="mission-vission-content">
        <div class="flex items-center">
          <div class="m_v-ssion-icon">
            <img
              src="../../../assets/images/ui/m-icon2.png"
              alt="a canyon"
              alt="" />
          </div>
          <div class="m_v-ssion-title">
            <h3 class="pt-3">Our Mission</h3>
          </div>
        </div>
        <div class="pt-5">
          <p>
            Professional mision capital without enterp medical users pros value
            added e-enable creative technology via team.
          </p>
        </div>
      </div>
    </div>
    <div class="mission-vission-single-box">
      <div class="mission-vission-content">
        <div class="flex items-center">
          <div class="m_v-ssion-icon">
            <img
              src="../../../assets/images/ui/m-icon2.png"
              alt="a canyon"
              alt="" />
          </div>
          <div class="m_v-ssion-title">
            <h3 class="pt-3">Our Mission</h3>
          </div>
        </div>
        <div class="pt-5">
          <p>
            Professional mision capital without enterp medical users pros value
            added e-enable creative technology via team.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="grid grid-cols-2 gap-6 pt-20 mb-20">
    <div>
      <p class="text-blue-600">OUR TESTIMONIALS</p>
      <div class="text-blue-950 text-5xl font-bold leading-tight">
        Our Happy Patients
      </div>
      <p class="pt-4 text-gray mb-12">
        Professional without enterprisee-commerce. Uniquely happy clinets
        innovative technologies via team member.
      </p>

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="mission-vission-content">
              <div class="flex items-center justify-between px-8">
                <div class="flex items-center">
                  <div class="m_v-ssion-icon">
                    <img
                      src="../../../assets/images/ui/people.png"
                      alt="a canyon"
                      alt="" />
                  </div>

                  <div class="m_v-ssion-title">
                    <h3 class="pt-3">Our Mission</h3>
                    <p class="text-gray text-xs text-left">satisfi edclient</p>
                  </div>
                </div>

                <div>
                  <img src="../../../assets/images/ui/quote2.png" alt="" />
                </div>
              </div>
              <div class="pt-5 pl-6 pr-6">
                <p class="text-left">
                  Commerce end interfaces with collaborative growth strategies
                  wireless recaptiualize one-to-one potentialities through
                  client-focused mediic of web-readiness. Appropriately enhance
                  seamless alignments after team solutions forward growth for
                  corporate web-readiness.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="mission-vission-content">
              <div class="flex items-center justify-between px-8">
                <div class="flex items-center">
                  <div class="m_v-ssion-icon">
                    <img
                      src="../../../assets/images/ui/people.png"
                      alt="a canyon"
                      alt="" />
                  </div>

                  <div class="m_v-ssion-title">
                    <h3 class="pt-3">Our Mission</h3>
                    <p class="text-gray text-xs text-left">satisfi edclient</p>
                  </div>
                </div>

                <div>
                  <img src="../../../assets/images/ui/quote2.png" alt="" />
                </div>
              </div>
              <div class="pt-5 pl-6 pr-6">
                <p class="text-left">
                  Commerce end interfaces with collaborative growth strategies
                  wireless recaptiualize one-to-one potentialities through
                  client-focused mediic of web-readiness. Appropriately enhance
                  seamless alignments after team solutions forward growth for
                  corporate web-readiness.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="mission-vission-content">
              <div class="flex items-center justify-between px-8">
                <div class="flex items-center">
                  <div class="m_v-ssion-icon">
                    <img
                      src="../../../assets/images/ui/people.png"
                      alt="a canyon"
                      alt="" />
                  </div>

                  <div class="m_v-ssion-title">
                    <h3 class="pt-3">Our Mission</h3>
                    <p class="text-gray text-xs text-left">satisfi edclient</p>
                  </div>
                </div>

                <div>
                  <img src="../../../assets/images/ui/quote2.png" alt="" />
                </div>
              </div>
              <div class="pt-5 pl-6 pr-6">
                <p class="text-left">
                  Commerce end interfaces with collaborative growth strategies
                  wireless recaptiualize one-to-one potentialities through
                  client-focused mediic of web-readiness. Appropriately enhance
                  seamless alignments after team solutions forward growth for
                  corporate web-readiness.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="mission-vission-content">
              <div class="flex items-center justify-between px-8">
                <div class="flex items-center">
                  <div class="m_v-ssion-icon">
                    <img
                      src="../../../assets/images/ui/people.png"
                      alt="a canyon"
                      alt="" />
                  </div>

                  <div class="m_v-ssion-title">
                    <h3 class="pt-3">Our Mission</h3>
                    <p class="text-gray text-xs text-left">satisfi edclient</p>
                  </div>
                </div>

                <div>
                  <img src="../../../assets/images/ui/quote2.png" alt="" />
                </div>
              </div>
              <div class="pt-5 pl-6 pr-6">
                <p class="text-left">
                  Commerce end interfaces with collaborative growth strategies
                  wireless recaptiualize one-to-one potentialities through
                  client-focused mediic of web-readiness. Appropriately enhance
                  seamless alignments after team solutions forward growth for
                  corporate web-readiness.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div>
      <img
        src="../../../assets/images/ui/testi2.jpg"
        class="w-full rounded-2xl"
        alt="" />
    </div>
  </section>
</div>
