<!-- <div class="pt-4">
  <div class="breatcome-section">
    <div class="container mx-auto">
      <h1
        class="font-semibold text-white flex justify-center items-center pt-36 uppercase">
        mediic Doctors
      </h1>
      <div class="text-white flex justify-center items-center uppercase">
        mediic / mediic Doctors
      </div>
    </div>
  </div>
</div>

<div class="flex gap-20">
  <div>
    <img src="../../../assets/images/ui/about3.jpg" alt="" />
    <div class="counter-right-side">
      <div class="flex flex-col gap-2">
        <div class="uppercase text-white text-5xl font-extrabold">
          275 <span>K</span>
        </div>
        <div>
          <span class="uppercase text-white text-1xl font-medium"
            >Recovered Patients</span
          >
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="uppercase text-white text-5xl font-extrabold">90%</div>
        <div>
          <span class="uppercase text-white text-1xl font-medium"
            >Satisfaction Rate</span
          >
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="text-blueTextLight">ABOUT COMPANY</p>
    <div class="text-blueDark text-7xl font-bold leading-tight">
      Best Health Center Since - 2007
    </div>
    <p class="pt-4">
      Continually evolve professional intellectual capital without enterprise
      users. Seamlessly matrix value added e-commerce. Uniquely e-enable
      innovative technologies via team
    </p>

    <div class="flex gap-32 pt-5">
      <ul class="flex flex-col gap-5 about-mediic-services">
        <li class="text-blueDark flex items-center gap-1">
          <i class="fa-solid fa-circle text-blueTextLight"></i>
          Psychodynamic Therapy
        </li>
        <li class="text-blueDark flex items-center gap-1">
          <i class="fa-solid fa-circle text-blueTextLight"></i>Couple Problem
          Therapy
        </li>
      </ul>
      <ul class="flex flex-col gap-5">
        <li class="text-blueDark flex items-center gap-1">
          <i class="fa-solid fa-circle text-blueTextLight"></i>Free Consultants
        </li>
        <li class="text-blueDark flex items-center gap-1">
          <i class="fa-solid fa-circle text-blueTextLight"></i>Metal
          Satisfications
        </li>
      </ul>
    </div>
  </div>
  <div class="absolute right-3 text-right">
    <img src="../../../assets/images/ui/dctr.png" alt="" />
  </div>
</div> -->


