@for (doctor of doctorInfo(); track $index;; let i = $index) {

<div class="w-3/4 grid grid-cols-3 mx-auto gap-3">
  <div class="flex flex-col gap-4">
    <div
      class="w-full min-w-64 max-h-60 bg-white dark:bg-gray-800 rounded-xl shadow-md overflow-hidden mx-auto">
      <div class="flex justify-between items-center px-6 py-4">
        <div class="flex space-x-4">
          <div>
            <img
              crossorigin="anonymous"
              [src]="doctor?.profileImage"
              width="48"
              height="48"
              class="rounded-full p-1" />
          </div>

          <div>
            <div class="text-lg font-bold dark:text-white">
              {{ doctor.first_name }}{{ doctor.last_name }}
            </div>
            <div class="text-sm text-gray-500 dark:text-gray-200">
              {{ doctor.specialty_name }}
            </div>
            <div
              class="flex gap-1 text-sm text-gray-500 dark:text-gray-200 pt-2">
              <svg
                class="text-blue-500"
                fill="blue"
                height="24"
                width="24"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg">
                <!-- Outer shape -->
                <path
                  d="m511.375 255.687-57.89-64.273 9.064-86.045-84.65-17.921-43.18-75.011-79.031 35.32-79.031-35.32-43.18 75.011-84.65 17.921 9.063 86.045L0 255.687l57.889 64.273-9.063 86.045 84.65 17.921 43.18 75.011 79.031-35.321 79.031 35.321 43.18-75.011 84.65-17.921-9.064-86.045z"></path>

                <!-- Tick shape -->
                <path
                  d="M362.878 199.702L234.533 343.494l-89.186-89.186 21.213-21.213 66.734 66.734 107.203-120.104z"
                  fill="white"></path>
              </svg>

              Medical system code : {{ doctor.medical_code }}
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex justify-center items-center gap-8 text-xs text-gray-200 py-4 pl-6">
        <div class="flex flex-col gap-1">
          <div class="flex gap-2 text-yellow-400">
            <ngx-stars
              [readonly]="true"
              [size]="1"
              [maxStars]="5"
              [initialStars]="doctor.average_rating"
              [wholeStars]="false"
              [color]="'#FFD700'"
              [customStarIcons]="urlIcon"></ngx-stars>
          </div>
          <span>
            <strong>({{ doctor.click_count }}&nbsp;review)</strong>
          </span>
        </div>
        <span class="flex flex-col items-center gap-1">
          <span>
            <svg
              class="text-green-700"
              fill="none"
              height="20"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 20 20"
              width="20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.991 15.408V6.942c0-.334.1-.659.284-.934L9.55 2.625c.358-.542 1.25-.925 2.008-.642.816.275 1.358 1.192 1.183 2.009l-.433 2.725a.84.84 0 0 0 .175.65c.141.158.35.258.575.258h3.425c.658 0 1.225.267 1.558.733.317.45.375 1.034.167 1.625l-2.05 6.242c-.259 1.033-1.384 1.875-2.5 1.875h-3.25c-.558 0-1.342-.192-1.7-.55l-1.067-.825c-.408-.308-.65-.8-.65-1.317M4.342 5.317h-.858c-1.292 0-1.817.5-1.817 1.733v8.383c0 1.234.525 1.734 1.817 1.734h.858c1.292 0 1.817-.5 1.817-1.734V7.05c0-1.233-.525-1.733-1.817-1.733"></path>
            </svg>
          </span>
          <strong> 96% User suggestion </strong>
        </span>
        <span class="flex flex-col items-center gap-1">
          <span>
            <img
              src="../../../assets/images/ui/svg/checkmark-circle-svgrepo-com.svg"
              class="pt-1"
              alt="" />
          </span>
          <strong> 56235 Successful turn </strong>
        </span>
      </div>

      <div
        class="flex justify-between items-center space-x-4 pt-4 border-t border-gray-200 dark:border-gray-700 p-4">
        <div class="flex items-center space-x-4">
          <!-- <svg
            class="h-4 w-4 text-gray-500 dark:text-gray-200"
            fill="none"
            height="24"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M3 12a9 9 0 0 1 9-9 9.75 9.75 0 0 1 6.74 2.74L21 8"></path>
            <path d="M21 3v5h-5"></path>
            <path
              d="M21 12a9 9 0 0 1-9 9 9.75 9.75 0 0 1-6.74-2.74L3 16"></path>
            <path d="M8 16H3v5"></path>
          </svg> -->
          <svg
            (click)="toggleLike(doctor, i)"
            [class.text-red-500]="doctor.is_liked"
            [class.text-gray-500]="!doctor.is_liked"
            [attr.fill]="doctor.is_liked ? 'currentColor' : 'none'"
            height="24"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
          </svg>
          <svg
            (click)="shareInfo(doctor)"
            class="h-4 w-4 text-gray-500 dark:text-gray-200"
            fill="none"
            height="24"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
            <polyline points="17 8 12 3 7 8"></polyline>
            <line x1="12" x2="12" y1="3" y2="15"></line>
          </svg>
        </div>
        <div class="flex items-center space-x-4">
          <svg
            class="h-4 w-4 text-gray-500 dark:text-gray-200"
            fill="none"
            height="24"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="1"></circle>
            <circle cx="19" cy="12" r="1"></circle>
            <circle cx="5" cy="12" r="1"></circle>
          </svg>
          <svg
            class="h-4 w-4 text-gray-500 dark:text-gray-200"
            fill="none"
            height="24"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path>
          </svg>
        </div>
      </div>
    </div>

    <mat-card appearance="outlined" class="w-full">
      <mat-card-content>
        <h2 class="pt-2 font-bold">
          About {{ doctor.first_name }} {{ doctor.last_name }}
        </h2>
        <div class="flex flex-col gap-1 pt-2">
          {{ doctor.description }}
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="w-full">
      <mat-card-content>
        <h2 class="pt-2 font-bold">
          Address Clinic Dr.{{ doctor.first_name }} {{ doctor.last_name }}:
        </h2>
        <div
          class="border-2 border-gray-400 rounded-lg border-opacity-30 p-4 mt-4 bg-slate-100">
          <h2 class="pt-2 font-bold">{{ addressBreifly }} :</h2>
          <div class="flex gap-1 pt-2">
            <i class="fa-solid fa-location-dot text-blue-600 text-lg"></i>
            <strong>Address: </strong>
            <p>
              {{ doctor.city }}
            </p>
          </div>

          <div class="flex gap-1 pt-2">
            <i class="fa-solid fa-phone text-blue-600 text-lg"></i>
            <strong>Contact info: </strong>
            <p>
              {{ doctor.phone }}
            </p>
          </div>

          <a
            class="flex items-center gap-2 text-blue-600 pt-2 cursor-pointer"
            (click)="showMap(doctor, '250ms', '150ms')">
            <i class="fa-solid fa-map text-blue-600"></i>
            <strong>Show on map</strong>
          </a>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="w-full">
      <mat-card-content>
        <h2 class="pt-2 font-bold">Services Dr.{{ doctor.first_name }} {{doctor.last_name}}:</h2>
        <div class="flex items-center justify-center gap-3 mt-4">
          <span class="bg-slate-300 rounded-2xl text-xs p-2"
            >{{ doctor.specialty_name }}
          </span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="w-full">
      <mat-card-content>
        <h2 class="pt-2 font-bold">
          Reviewes about Dr{{ doctor.first_name }}{{doctor.last_name}}:
        </h2>
        <div
          class="flex items-center flex-row-reverse justify-center gap-3 mt-4">
          <div class="flex flex-col gap-1">
            <span>
              <strong>From {{ doctor.click_count }} users</strong>
            </span>
            <div class="flex gap-2 text-yellow-400">
              <ngx-stars
                [readonly]="true"
                [size]="1"
                [maxStars]="5"
                [initialStars]="doctor.average_rating"
                [wholeStars]="false"
                [color]="'#FFD700'"
                [customStarIcons]="urlIcon"></ngx-stars>
            </div>
          </div>
          <span class="text-3xl">
            <!-- <strong> {{ formatRating(doctor.average_rating) }} </strong> -->
          </span>
        </div>

        <div class="flex justify-around mt-4 bg-gray-100 rounded-xl p-4">
          <div class="flex flex-col gap-1">
            <div class="flex justify-center">
              <img src="../../../assets/images/ui/svg/like.svg" alt="" />
              96%
            </div>
            <span> User suggestion </span>
          </div>
          <span class="border-2"></span>
          <div class="flex flex-col gap-1">
            <div class="flex justify-center">
              <img src="../../../assets/images/ui/svg/time.svg" alt="" />
              15-45 min
            </div>
            <span> Average waiting time </span>
          </div>
        </div>

        <button
          (click)="feedback(doctor.id)"
          type="button"
          class="flex justify-between gap-2 mt-4 w-full shadow-xl text-base bg-gray-200 backdrop-blur-md lg:font-semibold isolation-auto border-gray-50 before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-left-full before:hover:left-0 before:rounded-full before:bg-blue-800 hover:text-white before:-z-10 before:aspect-square before:hover:scale-150 before:hover:duration-700 relative z-10 px-3 py-1 overflow-hidden border-2 rounded-full group">
          <span>feedback</span>
          <svg
            class="w-8 h-8 justify-end group-hover:rotate-90 group-hover:bg-gray-50 text-gray-50 ease-linear duration-300 rounded-full border border-gray-700 group-hover:border-none p-2 rotate-45"
            viewBox="0 0 16 19"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7 18C7 18.5523 7.44772 19 8 19C8.55228 19 9 18.5523 9 18H7ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 18L9 1H7L7 18H9Z"
              class="fill-gray-800 group-hover:fill-gray-800"></path>
          </svg>
        </button>

        @for (user of userInfo; track $index) {
        <div
          class="w-full min-w-64 max-h-60 mt-4 pb-4 border-2 border-gray-400 rounded-xl shadow-md overflow-hidden mx-auto">
          <div class="flex justify-between items-center px-6 py-4">
            <div class="flex space-x-4">
              <div>
                <img
                  src="../../../assets/images/bg-01.png"
                  crossorigin="anonymous"
                  class="rounded-3xl"
                  height="48"
                  width="48"
                  alt="Doctor's Profile Image" />
              </div>

              <div>
                <span class="text-lg font-bold"> Aliakbar </span>
                <span class="text-xs">(22/22/2024)</span>
                <div class="flex gap-2 text-yellow-400">
                  <ngx-stars
                    [readonly]="true"
                    [size]="1"
                    [maxStars]="5"
                    [initialStars]="doctor.average_rating"
                    [wholeStars]="false"
                    [color]="'#FFD700'"
                    [customStarIcons]="urlIcon"></ngx-stars>
                </div>
              </div>
            </div>
          </div>
          <div class="flex text-sm gap-1 ml-2 text-gray-500">
            <svg
              class="text-green-700"
              fill="none"
              height="20"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 20 20"
              width="20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.991 15.408V6.942c0-.334.1-.659.284-.934L9.55 2.625c.358-.542 1.25-.925 2.008-.642.816.275 1.358 1.192 1.183 2.009l-.433 2.725a.84.84 0 0 0 .175.65c.141.158.35.258.575.258h3.425c.658 0 1.225.267 1.558.733.317.45.375 1.034.167 1.625l-2.05 6.242c-.259 1.033-1.384 1.875-2.5 1.875h-3.25c-.558 0-1.342-.192-1.7-.55l-1.067-.825c-.408-.308-.65-.8-.65-1.317M4.342 5.317h-.858c-1.292 0-1.817.5-1.817 1.733v8.383c0 1.234.525 1.734 1.817 1.734h.858c1.292 0 1.817-.5 1.817-1.734V7.05c0-1.233-.525-1.733-1.817-1.733"></path>
            </svg>
            I recommend this doctor
          </div>
          <div class="flex text-sm gap-1 ml-2 text-gray-500 pt-2">
            <img src="../../../assets/images/ui/svg/time.svg" alt="" />

            Wating time :15-45 minutes
          </div>

          @for (comment of user.comments; track $index) {
          <div class="flex text-base gap-1 ml-4 pt-2">
            <strong>{{ comment.text }}</strong>
          </div>
          }
        </div>
        }
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="w-full">
      <mat-card-content>
        <h2 class="font-bold !text-sm">
          Frequently Asked Questions about Dr.{{ doctor.first_name }}
          {{ doctor.last_name }}
        </h2>

        <div class="dropdown w-full mt-4">
          <input
            hidden=""
            class="sr-only"
            name="state-dropdown"
            id="state-dropdown"
            type="checkbox" />
          <label
            aria-label="dropdown scrollbar"
            for="state-dropdown"
            class="trigger"
            >How can we book an appointment with Dr.{{ doctor.first_name }}
            {{ doctor.last_name }}</label
          >

          <ul class="list webkit-scrollbar" role="list" dir="auto">
            <li class="listitem" role="listitem">
              <article class="article">
                {{ doctor.description }}
              </article>
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="w-full">
      <mat-card-content>
        <h2 class="font-bold !text-base">
          Appointment guide from Dr.{{ doctor.first_name }}{{ doctor.last_name }}
        </h2>
        <article class="pt-7">
          <h2 class="font-bold !text-sm !text-gray-500">
            Biography and Introduction of Dr.{{ doctor.first_name }}{{ doctor.last_name }}
          </h2>
          <p class="text-xs text-gray-500">
            Welcome to the online appointment booking platform for Dr.{{
              doctor.first_name
            }}{{ doctor.last_name }}
            In this section, we will provide a detailed biography of Dr.
            {{ doctor.first_name }}{{ doctor.last_name }}, including information about his
            specialties, cities where he practices, the diseases and symptoms he
            treats, as well as details about the medical centers he operates in
            (clinic address, phone number). Let me know if you'd like me to add
            more details or tailor the text further!
          </p>
        </article>
        <article class="pt-7">
          <h2 class="font-bold !text-sm !text-gray-500">
            What are Dr. {{ doctor.first_name }}{{ doctor.last_name }}'s areas of expertise and the
            cities where he practices?
          </h2>
          <p class="text-xs text-gray-500">
            Dr. {{ doctor.first_name }}{{ doctor.last_name }} specializes in 1 field and practices in
            1 city: Pediatrician in Tehran
          </p>
        </article>
        <article class="pt-7">
          <h2 class="font-bold !text-sm !text-gray-500">
            For which diseases and symptoms can one visit Dr.
            {{ doctor.first_name }}{{ doctor.last_name }}?
          </h2>

          <p class="text-xs text-gray-500">
            Dr. {{ doctor.first_name }}{{ doctor.last_name }} specializes in 1 field and practices in
            1 city: Pediatrician in Tehran
          </p>
        </article>
        <article class="pt-7">
          <h2 class="font-bold !text-sm !text-gray-500">
            Dr. {{ doctor.first_name }}{{ doctor.last_name }} specializes in diagnosing and treating
            the following symptoms and diseases:"
          </h2>
          <ol class="text-xs">
            <li>{{ doctor.specialty_name }}</li>
          </ol>
        </article>

        <mat-tab-group class="border-2 border-gray-200 rounded-xl mt-4">
          <mat-tab label="Specialist" class="!text-sm">
            <div class="flex items-center justify-center gap-3 p-2">
              <span class="bg-slate-300 rounded-2xl text-xs p-1"
                >{{ doctor.specialty_name }}
              </span>
            </div>
          </mat-tab>
          <mat-tab label="Specialist city" class="!text-sm">
            <div class="flex items-center justify-center gap-3 p-2">
              <span class="bg-slate-300 rounded-2xl text-xs p-1">{{
                doctor.specialty_name
              }}</span>
            </div></mat-tab
          >
          <mat-tab label="Specialist neighborhood" class="!text-sm">
            <div class="flex items-center justify-center gap-3 p-2">
              <span class="bg-slate-300 rounded-2xl text-xs p-1"
                >{{ doctor.specialty_name }}
              </span>
            </div>
          </mat-tab>
          <mat-tab label="Diseases" class="!text-sm">
            <div class="flex items-center justify-center gap-3 p-2">
              <span class="bg-slate-300 rounded-2xl text-xs p-1"
                >{{ doctor.specialty_name }}
              </span>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-span-2">
    <mat-card appearance="outlined" class="w-full">
      <mat-card-content>
        <h2 class="flex gap-1">
          <img
            src="../../../assets/images/ui/svg/online-appointment.svg"
            alt="" />
          Online Appointment Booking for Top Doctors in Malaysia
        </h2>
        <div
          class="border-2 border-gray-400 rounded-lg border-opacity-30 p-4 mt-4 bg-slate-100">
          <h2 class="pt-2 font-bold">{{ addressBreifly }}</h2>
          <div class="flex gap-1 pt-2">
            <i class="fa-solid fa-location-dot text-blue-600 text-lg"></i>
            <p>
              {{ doctor.city }}
            </p>
          </div>
          <div
            class="border-2 opacity-40 border-dashed border-gray-500 my-3"></div>

          <div class="flex items-center gap-1 pt-2">
            <i class="fa-solid fa-clock text-blue-600"></i>
            <p>
              There are currently no appointments available for this office
              <a href="">more info</a>
            </p>
          </div>
          <p class="pl-1">Opening time : Tuesday 1Nov | 10:00</p>
        </div>

        <div
          class="border-2 opacity-40 border-dashed border-gray-400 my-3"></div>

        <div
          class="flex justify-between items-center bg-slate-200 rounded-xl p-3 cursor-pointer hover:bg-slate-400 hover:text-white transition-all duration-300">
          <div class="flex flex-col">
            <span>Alternative doctors with similar expertise</span>
            <span>Suggested by YoursDoctor</span>
          </div>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="w-full mt-4">
      <mat-card-content>
        <h2 class="flex gap-1">
          <img src="../../../assets/images/ui/svg/consultation.svg" />
          Online medical consultation
        </h2>

        <div
          class="border-2 rounded-xl border-blue-100 p-4 mt-4 cursor-pointer"
          (click)="getConsultation()">
          <span
            class="flex gap-1 border-b-2 border-dashed border-blue-100 pb-2">
            <img src="../../../assets/images/ui/svg/phone.svg" />
            Phone consultation appointment
          </span>
          <div class="text-sm text-gray-600 pt-2">
            <p>Conversation 10 minutes</p>
            <p>First available appointment: Tomorrow | 16:00</p>
          </div>

          <div class="flex justify-between mt-4">
            <span class="bg-blue-500 text-white rounded-2xl text-base p-3"
              >4500.00 RM</span
            >
            <a href="">
              <span
                class="flex items-center gap-1 text-blue-500 font-medium text-base"
                >Get a phone consultaino
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div
          class="border-2 rounded-xl border-blue-100 p-4 mt-4 cursor-pointer"
          (click)="getConsultation()">
          <span
            class="flex gap-1 border-b-2 border-dashed border-blue-100 pb-2">
            <img
              src="../../../assets/images/ui/svg/message-square-lines-svgrepo-com.svg" />

            Text consultation appointment
          </span>
          <div class="text-sm text-gray-600 pt-2">
            <p>Conversation 10 minuts</p>
            <p>First available appointment: Tomorrow | 16:00</p>
          </div>

          <div class="flex justify-between mt-4">
            <span class="bg-blue-500 text-white rounded-2xl text-base p-3"
              >100.00 RM</span
            >
            <a href="">
              <span
                class="flex items-center gap-1 text-blue-500 font-medium text-base"
                >Get a Text consultaino
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Suggestion doctors -->
    <app-suggestion-replaced-doctor />
  </div>
</div>
}
