<div mat-dialog-title>
  <div class="w-28 h-28 rounded-full overflow-hidden">
    <img
      crossorigin="anonymous"
      [src]="doctorInfo.profile_img"
      class="w-full h-full object-cover"
      [alt]="" />
  </div>
  <span class="star-rating" [style.--rating]="doctorInfo.average_rating"></span>
  <div class="text-md font-medium flex flex-col pt-8 items-center">
    {{ doctorInfo.first_name }}{{ doctorInfo.last_name }}
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <hr class="text-gray opacity-55" />
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="grid grid-cols-2 gap-4">
      <!-- *****Name***** -->
      <mat-form-field data-testing="Name" appearance="outline" class="w-full">
        <mat-label>First_name</mat-label>
        <input
          type="text"
          matInput
          [errorStateMatcher]="matcher"
          formControlName="first_name"
          placeholder="name" />
        <!-- Error handling -->
        <mat-error
          *ngIf="
            first_name?.hasError('name') && !first_name?.hasError('required')
          "
          >Please enter a valid name</mat-error
        >
        <mat-error *ngIf="first_name?.hasError('required')"
          >first_name is <strong>required</strong></mat-error
        >
        <mat-error *ngIf="form.controls.first_name.hasError('minlength')"
          >name is too short
          <strong>{{
            form.controls.first_name.getError('minlength')?.requiredLength
          }}</strong></mat-error
        >
        <mat-error *ngIf="first_name?.hasError('banWords')"
          >The value
          <strong>{{ first_name?.getError('banWords').bannedWord }} </strong>is
          banned</mat-error
        >
      </mat-form-field>
      <!-- *****Name***** -->
      <mat-form-field data-testing="Name" appearance="outline" class="w-full">
        <mat-label>Last_name</mat-label>
        <input
          type="text"
          matInput
          [errorStateMatcher]="matcher"
          formControlName="last_name"
          placeholder="name" />
        <!-- Error handling -->
        <mat-error
          *ngIf="
            last_name?.hasError('name') && !last_name?.hasError('required')
          "
          >Please enter a valid name</mat-error
        >
        <mat-error *ngIf="last_name?.hasError('required')"
          >last_name is <strong>required</strong></mat-error
        >
        <mat-error *ngIf="form.controls.last_name.hasError('minlength')"
          >name is too short
          <strong>{{
            form.controls.last_name.getError('minlength')?.requiredLength
          }}</strong></mat-error
        >
        <mat-error *ngIf="last_name?.hasError('banWords')"
          >The value
          <strong>{{ last_name?.getError('banWords').bannedWord }} </strong>is
          banned</mat-error
        >
      </mat-form-field>
      <!-- *****email***** -->
      <mat-form-field data-testing="email" appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [errorStateMatcher]="matcher"
          formControlName="email"
          placeholder="email"
          class="w-full" />
        <!-- Error handling -->
        <mat-error
          *ngIf="email?.hasError('email') && !email?.hasError('required')"
          >Please enter a valid email address</mat-error
        >
        <mat-error *ngIf="email?.hasError('required')"
          >email is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </div>

    <!-- *****Mobile***** -->
    <!-- <mat-form-field data-testing="mobile" appearance="outline" class="w-full">
        <mat-label>Mobile</mat-label>
     <ngx-mat-intl-tel-input
          [preferredCountries]="['my']"
          [enablePlaceholder]="true"
          [enableSearch]="true"
          name="mobile"
          formControlName="mobile"></ngx-mat-intl-tel-input> 
        <mat-error
          *ngIf="mobile?.hasError('mobile') && !mobile?.hasError('required')"
          >Please enter a valid mobile</mat-error
        >
        <mat-error *ngIf="mobile?.hasError('required')"
          >mobile is <strong>required</strong></mat-error
        >
      </mat-form-field> -->
    <!-- *****Age***** -->

    <div class="grid grid-cols-2 gap-4">
      <!-- *****specialization***** -->
      <!-- <mat-form-field
        data-testing="specialization"
        appearance="outline"
        class="w-full">
        <mat-label>specialization</mat-label>
        <input
          type="specialization"
          matInput
          [errorStateMatcher]="matcher"
          formControlName="specialization"
          placeholder="specialization"
          class="w-full" />
        <mat-error
          *ngIf="
            specialization?.hasError('specialization') &&
            !specialization?.hasError('required')
          "
          >Please enter a valid specialization address</mat-error
        >
        <mat-error *ngIf="specialization?.hasError('required')"
          >specialization is <strong>required</strong></mat-error
        >
      </mat-form-field> -->

      <!-- *****Address***** -->
      <mat-form-field
        data-testing="address_line1"
        appearance="outline"
        class="w-full">
        <mat-label>Address_line1</mat-label>
        <input
          type="text"
          matInput
          [errorStateMatcher]="matcher"
          formControlName="address_line1"
          placeholder="address_line1" />
        <!-- Error handling -->
        <mat-error
          *ngIf="
            address_line1?.hasError('address_line1') &&
            !address_line1?.hasError('required')
          "
          >Please enter a valid address_line1</mat-error
        >
        <mat-error *ngIf="address_line1?.hasError('required')"
          >address_line1 is <strong>required</strong></mat-error
        >
        <mat-error *ngIf="form.controls.address_line1.hasError('minlength')"
          >address_line1 is too short
          <strong>{{
            form.controls.address_line1.getError('minlength')?.requiredLength
          }}</strong></mat-error
        >
        <mat-error *ngIf="address_line1?.hasError('banWords')"
          >The value
          <strong>{{ address_line1?.getError('banWords').bannedWord }} </strong
          >is banned</mat-error
        >
      </mat-form-field>

      <mat-form-field
        data-testing="address_line2"
        appearance="outline"
        class="w-full">
        <mat-label>address_line2</mat-label>
        <input
          type="text"
          matInput
          [errorStateMatcher]="matcher"
          formControlName="address_line2"
          placeholder="address_line2" />
        <!-- Error handling -->
        <mat-error
          *ngIf="
            address_line2?.hasError('address_line2') &&
            !address_line2?.hasError('required')
          "
          >Please enter a valid address_line2</mat-error
        >
        <mat-error *ngIf="address_line2?.hasError('required')"
          >address_line2 is <strong>required</strong></mat-error
        >
        <mat-error *ngIf="form.controls.address_line2.hasError('minlength')"
          >address_line2 is too short
          <strong>{{
            form.controls.address_line2.getError('minlength')?.requiredLength
          }}</strong></mat-error
        >
        <mat-error *ngIf="address_line2?.hasError('banWords')"
          >The value
          <strong>{{ address_line2?.getError('banWords').bannedWord }} </strong
          >is banned</mat-error
        >
      </mat-form-field>

      <mat-form-field
        data-testing="country"
        appearance="outline"
        class="w-full">
        <mat-label>Select Country</mat-label>
        <mat-select
          formControlName="country"
          name="g"
          (selectionChange)="onCountryChange($event.value)">
          <mat-option
            *ngFor="let c of countries(); trackBy: trackByFn"
            [value]="c"
            >{{ c.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <!-- *****department***** -->

    <!-- *****gender***** -->
    <mat-radio-group aria-label="Select an option">
      <label for="item">Gender :</label>
      @for (item of genders; track $index) {
      <mat-radio-button [value]="item" [checked]="item">{{
        item
      }}</mat-radio-button>
      }
    </mat-radio-group>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button mat-dialog-close cdkFocusInitial type="submit">
        Update
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
