.mat-mdc-dialog-title.mdc-dialog__title {
  display: flex !important;
  gap: 10px;
  margin-top: 20px;
}

.star-rating::after {
  content: '⭐⭐⭐⭐⭐';
   --rating-percent: calc(var(--rating) / 5 * 100%);
  background: linear-gradient(
    90deg,
   gold var(--rating-percent),
    lightgray var(--rating-percent)
  );
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  white-space: nowrap;
  color: transparent;
  display: inline-block;
}


