<div class="bg-slider w-full lg:mt-24">
  <div class="mx-auto slider-content w-full lg:w-[37%]">
    <div class="flex justify-center items-center pt-52 gap-2">
      <div class="flex">
        <h1 class="uppercase text-white lg:!text-8xl md:!text-2xl">
          Healthcare
        </h1>
      </div>
      <div>
        <img
          class="animate"
          src="../../../assets/images/ui/slider/heart.png"
          width="50"
          height="50"
          alt="" />
      </div>
    </div>
    <div
      class="relative z-1 flex justify-center items-center gap-9 uppercase text-white font-semibold md:pt-2">
      <span
        class="flex items-center gap-2 py-2 lg:px-10 rounded-full bg-[rgba(255, 255, 255, 0.2)] text-lg font-semibold lg:backdrop-blur-lg md:backdrop-blur-sm">
        <img src="../../../assets/images/ui/slider/team-img.png" alt="" />
        memeber
      </span>
      <span class="font-semibold lg:!text-8xl md:!text-xl"> Doctor </span>
    </div>
    <!-- ***** Elastic Search Section -->
    <div class="mx-auto relative z-50 bg-slate-200 rounded-2xl w-[42rem]">
      <mat-form-field
        appearance="outline"
        class="!flex !justify-center pt-4 px-2 py-2">
        <div class="flex">
          <input
            type="text"
            placeholder="Search for Doctors, Clinics, Specializations..."
            aria-label="Search"
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="auto"
            #searchInput />
          <mat-progress-spinner
            *ngIf="isLoading"
            diameter="20"
            mode="indeterminate"></mat-progress-spinner>

          @if (isListening) {
          <div class="overlay">
            <!-- From Uiverse.io by Praashoo7 -->
            <div class="load">
              <div class="progress"></div>
              <div class="progress"></div>
              <div class="progress"></div>
            </div>
          </div>

          }

          <button
            dfButton
            appearance="solid"
            class="flex"
            (click)="startVoiceSearch()">
            <span class="material-symbols-outlined"> mic </span>
          </button>
        </div>
        @if (filterDataSignal()) {
        <div class="text-gray-600 text-sm mt-1">
          <strong>{{ doctorDataSignal().length === 0 }}</strong> results found
        </div>
        } @if (isLoading) {
        <app-loader />
        }

        <mat-autocomplete #auto="matAutocomplete">
          <div class="pt2 pl-2">The most important expertise</div>
          <div class="flex gap-1 p-3 flex-wrap">
            @for (item of specializationsSignal(); track $index) {
            <span
              class="border-2 p-1 border-gray-600 rounded-xl text-xs hover:bg-blue-500 hover:text-white hover:border-blue-500 duration-200 cursor-pointer">
              {{ item }}
            </span>
            }
          </div>
          <div></div>
          <!-- دکترها -->
          <mat-optgroup [label]="'Top Doctors'">
            @for (data of doctorDataSignal(); track $index) {
            <mat-option
              [value]="data.id"
              (onSelectionChange)="navigateToDetial(data)">
              <div class="flex justify-between items-center">
                <div class="flex space-x-4">
                  <div
                    class="relative flex items-center justify-center"
                    [ngStyle]="{ width: 50 + 'px', height: 50 + 'px' }">
                    <div
                      class="absolute inset-0 bg-gradient-to-r rounded-full p-1 from-blue-400 via-blue-500 to-blue-600">
                      <img
                        [src]="data.profile_img"
                        crossorigin="anonymous"
                        class="w-full h-full object-cover object-[0_15%] rounded-full border-2 border-white shadow-lg"
                        alt="Profile Image" />
                    </div>
                  </div>

                  <div>
                    <div class="flex justify-between">
                      <div class="flex flex-col gap-4 text-base">
                        <span> {{ data.first_name }}{{ data.last_name }} </span>
                        <div
                          class="flex justify-between w-[26rem] bg-slate-400 rounded-3xl">
                          <div>
                            <span class="text-white pl-2">
                              {{ data.specialty_name }}
                            </span>
                          </div>
                          <div class="flex gap-2 text-yellow-400 pr-2">
                            <ngx-stars
                              [readonly]="true"
                              [size]="1"
                              [maxStars]="5"
                              [initialStars]="data.average_rating"
                              [wholeStars]="true"
                              [color]="'#FFD700'"
                              [customStarIcons]="urlIcon"></ngx-stars>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-option>

            } @if(doctorDataSignal().length){
            <mat-option>
              <div class="flex justify-between items-center w-[30rem]">
                <span class="font-semibold"
                  ><strong class="text-blue-700"
                    >+{{ doctorDataSignal().length }}</strong
                  ><strong class="text-gray-400"> Doctors</strong>
                </span>
                <div class="flex items-center">
                  <span class="text-sm text-gray-400">See more</span>
                  <span class="material-symbols-outlined text-blue-600">
                    arrow_forward_ios
                  </span>
                </div>
              </div>
            </mat-option>
            }
          </mat-optgroup>

          <!-- کلینیک‌ها -->
          <mat-optgroup label="Top Clinics">
            @for (clinic of clinicdataSignal(); track $index) {

            <mat-option [value]="clinic.id">
              🏥 {{ clinic.name }} - {{ clinic.city }}
            </mat-option>
            } @if(clinicdataSignal().length){
            <mat-option>
              <div class="flex justify-between items-center w-[30rem]">
                <span class="font-semibold"
                  ><strong class="text-blue-700"
                    >+{{ clinicdataSignal().length }}</strong
                  ><strong class="text-gray-400"> Clinics</strong>
                </span>
                <div class="flex items-center">
                  <span class="text-sm text-gray-400">See more</span>
                  <span class="material-symbols-outlined text-blue-600">
                    arrow_forward_ios
                  </span>
                </div>
              </div>
            </mat-option>
            }
          </mat-optgroup>

          <!-- تخصص‌ها -->
          <!-- <mat-optgroup
            *ngIf="filterDataSignal()?.specializations?.length"
            label="Specializations">
            <mat-option
              *ngFor="let specialization of filterDataSignal()?.specializations"
              [value]="specialization.name">
              🔬 {{ specialization?.details?.name }}
            </mat-option>
          </mat-optgroup> -->
          <!-- @if (filterDataSignal().specializations.length === 0 && !isLoading) {
          <mat-option disabled>
            <div class="flex items-center justify-center p-4">
              <span class="material-symbols-outlined"> search_off </span>
              <span class="text-gray-500 italic text-sm mt-2">
                No results found. Try searching for something else.
              </span>
            </div>
          </mat-option>
          } -->
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!-- ***** Elastic Search Section -->

    <div
      class="absolute top-6 md:hidden lg:block opacity-25 flex justify-center items-center w-full h-full">
      <img
        class="w-full h-full object-contain"
        src="../../../assets/images/ui/slider/hero-img.png"
        alt="doctor" />
    </div>
  </div>

  <div
    class="lg:flex justify-between items-center lg:w-3/4 md:pl-4 mx-auto md:pt-24">
    <div class="mediic-hero-content">
      <div class="flex gap-4 items-center">
        <img src="../../../assets/images/ui/slider/tick.png" alt="icon" />
        <h4 class="text-white font-semibold">Best Medical</h4>
      </div>
      <p class="text-white pl-4 lg:pl-14 relative z-10 w-full max-w-md">
        Rapidiously reinvent long-term impact collaboration
      </p>
    </div>

    <div class="mt-6 lg:mt-0">
      <button dfButton appearance="solid" class="flex items-center gap-2">
        Free Consultations
        <i class="fa-solid fa-arrow-trend-up text-2xl"></i>
      </button>
    </div>

    <div class="hero-cnct-nmbr hidden lg:block">
      <h4 class="text-white font-semibold">+980 123 (4567) 890</h4>
    </div>

    <div class="hero-socail-icon flex gap-4 hidden lg:flex">
      <a aria-label="Facebook">
        <i class="fa-brands fa-facebook-f hover:text-blue-600 text-white"></i>
      </a>
      <a aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin-in hover:text-blue-600 text-white"></i>
      </a>
      <a aria-label="Twitter">
        <i class="fa-brands fa-twitter hover:text-blue-600 text-white"></i>
      </a>
      <a aria-label="Instagram">
        <i class="fa-brands fa-instagram hover:text-red-600 text-white"></i>
      </a>
    </div>
  </div>
</div>

<div
  class="bg-blue-600 lg:ml-6 lg:mr-6 lg:flex text-center justify-around items-center pt-9 pb-8">
  <div
    class="lg:flex items-center text-center gap-4 md:pl-2 md:pr-2"
    data-aos="fade-up"
    data-aos-duration="1000">
    <div>
      <img
        class="md:pl-2 md:pr-2 mx-auto"
        width="100%"
        src="../../../assets/images/ui/counter-img.png"
        alt="" />
    </div>
    <div class="flex flex-col md:pt-4">
      <div class="text-white lg:text-base md:text-lg font-semibold">
        With Doctor To, you can receive medical services with the highest
        quality and affordable prices
      </div>
      <div class="text-white lg:text-base md:text-lg font-semibold">
        You can receive high-quality medical services from clinics and
        specialist doctors across the country
      </div>
    </div>
  </div>
  <div
    class="flex justify-between items-center gap-20 md:pt-4"
    data-aos="fade-down"
    data-aos-duration="1000">
    <div class="md:pl-4">
      <p class="text-white text-5xl font-bold counter">{{ counter }}+</p>
      <hr class="text-white" />
      <p class="text-white text-xl font-medium">Satisfied Patients</p>
    </div>
    <div class="md:pr-4">
      <p class="text-white text-5xl font-bold">100%</p>
      <hr class="text-white" />
      <p class="text-white text-xl font-medium">Satisfaction Rates</p>
    </div>
  </div>
</div>
