<div class="card" >
  <div class="w-10/12 m-auto pt-4">
    <div class="flex justify-between items-center">
      <h2 class="header_card text-blue-950">
        {{ title() }}
      </h2>
      <a routerLink="/doctors">
        <i
          class="fa-solid fa-arrow-trend-up text-2xl hoverWhite text-blue-950"></i>
      </a>
    </div>
    <hr class="text-white" />
  </div>

  <div class="pt-4 w-80 m-auto">
    <div class="flex flex-col justify-center items-center">
      <div class="w-28 h-28 rounded-full overflow-hidden">
        <img [src]="image()" class="w-full h-full object-cover" alt="" />
      </div>
      <span
        class="flex flex-col justify-center items-center pt-4 text-blue-950 font-semibold hoverWhite">
        {{ subtitle() }}
        <p class="transition text-center text-xl hoverWhite">
          {{ paragraph() }}
        </p>
      </span>
      <span class="text-blue-600 font-medium text-lg pl-6 hoverWhite">{{
        description()
      }}</span>
    </div>
  </div>
</div>
