.footer-section {
    padding: 151px 0 0px;
    position: relative;
    z-index: 1;

}

.footer-thumb {
    position: absolute;
    top: 0;
    left: -46px;
    z-index: -1;
}

.footer-thumb1 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
    z-index: -1;
}