<div class="lg:pt-3">
  @defer {
  <div class="breatcome-section lg:mt-28">
    <div class="container mx-auto">
      <div
        class="font-semibold text-white flex justify-center items-center lg:pt-36 md:text-2xl md:pt-32 uppercase">
        Contact Us
      </div>
      <div class="text-white flex justify-center items-center uppercase">
        mediic / Contact Us
      </div>
    </div>
  </div>
  } @placeholder(minimum 3000ms) {
  <div class="lg:pl-5 pr-5">
    <div class="lg:mt-28">
      <div class="animate-pulse gap-4 w-full">
        <div class="h-[420px] bg-slate-400 rounded-3xl"></div>
      </div>
    </div>
  </div>
  }
</div>

<div class="mediic-appoinment relative mx-auto lg:pl-32 lg:pr-32 pb-10 mt-10">
  <img
    src="../../../assets/images/ui/appoinment.png"
    class="md:hidden lg:block"
    alt=""
    width="100%" />

  <div
    class="lg:absolute top-0 md:px-4 lg:right-44 h-full lg:flex lg:items-center lg:justify-end lg:w-2/6 md:w-full">
    <app-mediic-appointment />
  </div>
</div>

<div class="mt-20">
  <div class="lg:flex gap-10 justify-center items-center relative m-auto pb-10">
    <div class="single-services-box lg:w-[25rem] mx-4" data-aos="fade-up">
      <div class="flex justify-between items-center pb-10">
        <div class="services-title">
          <span class="text-gray">MEET US</span>
        </div>
        <div class="services-icon">
          <i
            class="fa-regular fa-envelope text-2xl absolute top-3 left-3 text-blueTextLight border-2 border-x-blueTextLight rounded-full p-2"></i>
        </div>
      </div>

      <div class="srvce-btn border-t-2 border-white pt-7">
        <p class="text-blueDark font-medium text-xl">Email Address</p>
        <p class="text-gray">no-replypbmadmin.com</p>
      </div>
    </div>
    <div class="single-services-box lg:w-[25rem] mx-4" data-aos="fade-down">
      <div class="flex justify-between items-center pb-10">
        <div class="services-title">
          <span class="text-gray">MEET US</span>
        </div>
        <div class="services-icon">
          <i
            class="fa-regular fa-envelope text-2xl absolute top-3 left-3 text-blueTextLight border-2 border-x-blueTextLight rounded-full p-2"></i>
        </div>
      </div>

      <div class="srvce-btn border-t-2 border-white pt-7">
        <p class="text-blueDark font-medium text-xl">Email Address</p>
        <p class="text-gray">no-replypbmadmin.com</p>
      </div>
    </div>
    <div class="single-services-box lg:w-[25rem] mx-4" data-aos="fade-up">
      <div class="flex justify-between items-center pb-10">
        <div class="services-title">
          <span class="text-gray">MEET US</span>
        </div>
        <div class="services-icon">
          <i
            class="fa-regular fa-envelope text-2xl absolute top-3 left-3 text-blueTextLight border-2 border-x-blueTextLight rounded-full p-2"></i>
        </div>
      </div>

      <div class="srvce-btn border-t-2 border-white pt-7">
        <p class="text-blueDark font-medium text-xl">Email Address</p>
        <p class="text-gray">no-replypbmadmin.com</p>
      </div>
    </div>
  </div>
</div>

<div class="lg:mx-auto md:mx-4 lg:pl-32 lg:pr-32 pb-10">
  <mat-card appearance="outlined" class="mt-4" data-aos="fade-up">
    <mat-card-content>
      <div class="h-96">
        <app-google-map [coordinates]="coordinates" />
      </div>
    </mat-card-content>
  </mat-card>
</div>
