<div class="desktop:pt-4">
  <div class="breatcome-section desktop:mt-28">
    <div class="container mx-auto">
      <div
        class="font-semibold text-white flex justify-center items-center desktop:pt-36 mobile:text-2xl mobile:pt-32 uppercase">
        Contact Us
      </div>
      <div class="text-white flex justify-center items-center uppercase">
        mediic / Contact Us
      </div>
    </div>
  </div>
</div>

<div
  class="mediic-appoinment relative mx-auto desktop:pl-32 desktop:pr-32 pb-10 mt-10">
  <img
    src="../../../assets/images/ui/appoinment.png"
    class="mobile:hidden desktop:block"
    alt=""
    width="100%" />

  <div
    class="desktop:absolute top-0 mobile:px-4 desktop:right-44 h-full desktop:flex desktop:items-center desktop:justify-end desktop:w-2/6 mobile:w-full">
    <app-mediic-appointment />
  </div>
</div>

<div class="mt-20">
  <div
    class="desktop:flex gap-10 justify-center items-center relative m-auto pb-10">
    <div class="single-services-box desktop:w-[25rem] mx-4" data-aos="fade-up">
      <div class="flex justify-between items-center pb-10">
        <div class="services-title">
          <span class="text-gray">MEET US</span>
        </div>
        <div class="services-icon">
          <i
            class="fa-regular fa-envelope text-2xl absolute top-3 left-3 text-blueTextLight border-2 border-x-blueTextLight rounded-full p-2"></i>
        </div>
      </div>

      <div class="srvce-btn border-t-2 border-white pt-7">
        <p class="text-blueDark font-medium text-xl">Email Address</p>
        <p class="text-gray">no-replypbmadmin.com</p>
      </div>
    </div>
    <div class="single-services-box desktop:w-[25rem] mx-4" data-aos="fade-down">
      <div class="flex justify-between items-center pb-10">
        <div class="services-title">
          <span class="text-gray">MEET US</span>
        </div>
        <div class="services-icon">
          <i
            class="fa-regular fa-envelope text-2xl absolute top-3 left-3 text-blueTextLight border-2 border-x-blueTextLight rounded-full p-2"></i>
        </div>
      </div>

      <div class="srvce-btn border-t-2 border-white pt-7">
        <p class="text-blueDark font-medium text-xl">Email Address</p>
        <p class="text-gray">no-replypbmadmin.com</p>
      </div>
    </div>
    <div class="single-services-box desktop:w-[25rem] mx-4" data-aos="fade-up">
      <div class="flex justify-between items-center pb-10">
        <div class="services-title">
          <span class="text-gray">MEET US</span>
        </div>
        <div class="services-icon">
          <i
            class="fa-regular fa-envelope text-2xl absolute top-3 left-3 text-blueTextLight border-2 border-x-blueTextLight rounded-full p-2"></i>
        </div>
      </div>

      <div class="srvce-btn border-t-2 border-white pt-7">
        <p class="text-blueDark font-medium text-xl">Email Address</p>
        <p class="text-gray">no-replypbmadmin.com</p>
      </div>
    </div>
  </div>
</div>

<div class="desktop:mx-auto mobile:mx-4 desktop:pl-32 desktop:pr-32  pb-10">
  <mat-card appearance="outlined" class="mt-4" data-aos="fade-up">
    <mat-card-content>
      <div class="h-96">
        <app-google-map [coordinates]="coordinates" />
      </div>
    </mat-card-content>
  </mat-card>
</div>
