<div class="pt-4">
  <div class="breatcome-section">
    <div class="container mx-auto">
      <h1
        class="font-semibold text-white flex justify-center items-center pt-36 uppercase">
        mediic Doctors
      </h1>
      <div class="text-white flex justify-center items-center uppercase">
        mediic / mediic Doctors
      </div>
    </div>
  </div>

  <div class="container mx-auto flex flex-wrap gap-6 pt-24 pr-0 pb-32">
    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <div class="uppercase text-blueDark text-7xl pb-10 font-bold">Make Appointment</div>
</div>
<div class="relative mx-auto pl-32 pr-32 pb-10">
  <!-- Image -->
  <img
    src="../../../assets/images/ui/appoinment.png"
    alt=""
    width="100%"
   />

  <!-- Form inside the image -->
  <div
    class="absolute top-0 right-44  h-full flex items-center justify-end w-2/6">
      <app-mediic-appointment></app-mediic-appointment>
  </div>
</div>

<div class="flex justify-center items-center h-full">
  <img
    class="object-center"
    src="../../../assets/images/ui/sbcribe-bg.jpg"
    alt="Counter Image" />
  <div class="absolute flex justify-between items-center gap-4 w-3/4">
    <div  class="flex items-center gap-4">
      <div>
        <i class="fa-solid fa-suitcase-medical text-blueDark text-5xl rounded-full p-6 bg-white"></i>
      </div>
      <div class="w-1/2">
        <div class="text-white text-3xl font-semibold">Since 2007 We’re working Medical group more than 1200+ Patient</div>
      </div>
    </div>
    <div class="flex justify-between items-center gap-20">
      <button dfButton>Contact Us</button>
    </div>
  </div>
</div>
