<div class="desktop:pt-4">
  <div class="breatcome-section desktop:mt-28">
    <div class="container mx-auto">
      <div
        class="font-semibold text-white flex justify-center items-center desktop:pt-36 mobile:text-3xl mobile:pt-32 uppercase">
        Service Doctor
      </div>
      <div class="text-white flex justify-center items-center uppercase">
        mediic / Service Doctor
      </div>
    </div>
  </div>

  <div
    class="desktop:container desktop:m-auto flex justify-center flex-wrap gap-6 desktop:pt-24 desktop:pr-0 desktop:pb-32 mobile:pt-6 mobile:mx-4 ">
    <div
      class="single-services-box desktop:w-96 mobile:w-full "
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="py-20 text-center">
    <div class="desktop:text-4xl mobile:text-2xl font-bold text-blue-950">
      <span class="font-bold">MAKE APPOINMENT</span>
    </div>
  </div>

  <div
    class="mediic-appoinment relative mx-auto desktop:pl-32 desktop:pr-32 pb-10">
    <img
      src="../../../assets/images/ui/appoinment.png"
      class="mobile:hidden desktop:block"
      alt=""
      width="100%" />

    <div
      class="desktop:absolute top-0 mobile:px-4 desktop:right-44 h-full desktop:flex desktop:items-center desktop:justify-end desktop:w-2/6 mobile:w-full">
      <app-mediic-appointment />
    </div>
  </div>
</section>
