<div class="lg:pt-4">
  <div class="breatcome-section lg:mt-28">
    <div class="container mx-auto">
      <div
        class="font-semibold text-white flex justify-center items-center lg:pt-36 md:text-3xl md:pt-32 uppercase">
        Service Doctor
      </div>
      <div class="text-white flex justify-center items-center uppercase">
        mediic / Service Doctor
      </div>
    </div>
  </div>

  <div
    class="lg:container lg:m-auto flex justify-center flex-wrap gap-6 lg:pt-24 lg:pr-0 lg:pb-32 md:pt-6 md:mx-4">
    <div
      class="single-services-box lg:w-96 md:w-full"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <div
      class="single-services-box"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      <div class="flex items-center">
        <div class="services-icon">
          <img
            [src]="
              isHovered
                ? '../../../assets/images/ui/srvce-icn.png'
                : '../../../assets/images/ui/srvce-icn-1.png'
            "
            class="icon-image"
            alt="" />
        </div>

        <div class="services-title">
          <h3>Couple Therapy</h3>
        </div>
      </div>
      <div class="services-desc">
        <p>
          Professional mision capital without enterps medical users pros value
          added e-enabled creative technology via team.
        </p>
      </div>
      <div class="srvce-btn">
        <a href=""
          >Read More
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="py-20 text-center">
    <div class="lg:text-4xl md:text-2xl font-bold text-blue-950">
      <span class="font-bold">MAKE APPOINMENT</span>
    </div>
  </div>

  <div class="mediic-appoinment relative mx-auto lg:pl-32 lg:pr-32 pb-10">
    <img
      src="../../../assets/images/ui/appoinment.png"
      class="md:hidden lg:block"
      alt=""
      width="100%" />

    <div
      class="lg:absolute top-0 md:px-4 lg:right-44 h-full lg:flex lg:items-center lg:justify-end lg:w-2/6 md:w-full">
      <app-mediic-appointment />
    </div>
  </div>
</section>
