<section 
  class="desktop:flex items-center justify-between mobile:pl-4 pt-12 m-auto gap-20 w-full desktop:w-9/12 border-b-2 border-gray-300">
  <div class="flex items-center gap-4 pt-4" >
    <div class="desktop:text-6xl mobile:text-base text-blue-950">
      About Medical
    </div>
    <span class="animate-spin">
      <i
        class="fa-solid fa-star-of-life desktop:text-5xl mobile:text-2xl text-blue-500 rotate"></i>
    </span>
  </div>
  <div class="w-48 mobile:pt-4 mobile:pb-8" >
    <span class="text-blue-950 flex">
      <span class="font-bold text-4xl flex items-center">
        {{ counter() }}
        <i class="fa-solid fa-plus text-1xl text-blue-950"></i>
      </span>
      <span class="text-center mobile:text-sm">YEARS OF EXPERIENCE</span>
    </span>
  </div>
</section>
<hr class="text-blue-950 m-auto w-9/12" />


<section
  class="desktop:flex gap-10 mobile:mx-4 desktop:mx-auto desktop:w-9/12 mobile:full pt-12">
  <div class="desktop:w-7/12">
    <div >
      <div class="about-thumb relative">
        <span>
          <img
            class="imgali"
            src="../../../assets/images/ui/about.png"
            alt="Cinque Terre"
            width=""
            height="100%" />
        </span>
        <div class="thumbs-bxs absolute bg-blue-600">
          <div class="icon">
            <img
              class="heart"
              src="../../../assets/images/ui/heart.png"
              alt="Heart" />
          </div>

          <div class="text-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="svgCircle"
              viewBox="0 0 250.5 250.5">
              <path
                d="M125.25,0.25 a125,125 0 1,1 0,250 a125,125 0 1,1 0,-250"
                id="e-path-35ee1b2"></path>
              <text>
                <textPath
                  id="e-text-path-35ee1b2"
                  href="#e-path-35ee1b2"
                  startOffset="0%">
                  NEUROLOGIST * GYNECOLOGIST * HEALTHCARE *
                </textPath>
              </text>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="desktop:w-5/12 desktop:flex flex-col justify-center"
   >
    <div class="uppercase text-blue-700 text-sm pb-6 mobile:pt-4">
      About Company
    </div>
    <span class="text-blue-950 desktop:text-3xl mobile:text-xl font-bold">
      Since 2007 We’re working Medical group of more than 1200+ Patients help
      from our medical
    </span>
    <div class="text-blue-950 text-xl font-semibold pt-8 pr-0 pb-6">
      We’re Putting your Comfort List
    </div>
    <ul>
      <li>
        <div
          class="flex justify-between border-b-2 border-dashed border-blue-600">
          <span class="flex items-center gap-1 pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blue-700"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blue-950"> Completely to syndicate </span>
          </span>
          <span class="flex items-center gap-1 text-blue-950 pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blue-700"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blue-950"> 24 Hrs Aumbulance Service </span>
          </span>
        </div>
      </li>
      <li>
        <div
          class="flex justify-between border-blueDark border-b-2 border-dashed border-blue-600">
          <span class="flex items-center gap-1 pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blue-700"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blue-950"> Completely to syndicate </span>
          </span>
          <span class="flex items-center gap-1 text-blue-950 pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blue-700"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blue-950"> 100% Satisfaction </span>
          </span>
        </div>
      </li>
      <li>
        <div
          class="flex justify-between border-b-2 border-dashed border-blue-600">
          <span class="flex items-center gap-1 pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blue-700"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blue-950"> Instant Operations System </span>
          </span>
          <span class="flex items-center gap-1 text-blue-950 pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blue-700"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blue-950"> Professional </span>
          </span>
        </div>
      </li>
    </ul>
    <div class="mt-6">
      <button dfButton appearance="solid" class="flex">
        Apply Now
        <span>
          <svg
            width="16px"
            height="16px"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-arrow-return-right">
            <path
              fill-rule="evenodd"
              d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
          </svg>
        </span>
      </button>
    </div>
  </div>
</section>

<div class="w-full pt-12">
  <div class="flex items-center overflow-hidden gap-4 bg-blue-200">
    <div class="marquee-content slider gap-5 py-4">
      <div
        data-aos="zoom-out"
        class="flex items-center gap-5 desktop:text-6xl mobile:py-4 mobile:text-base font-bold uppercase text-blue-950">
        Cardiologist
        <span class="animate-spin">
          <i class="fa-solid fa-star-of-life text-5xl text-blue-700 rotate"></i>
        </span>
      </div>
      <div
        data-aos="zoom-out"
        class="flex items-center gap-5 desktop:text-6xl mobile:py-4 mobile:text-base font-bold uppercase text-blue-950">
        Cardiologist
        <span class="animate-spin">
          <i class="fa-solid fa-star-of-life text-5xl text-blue-700 rotate"></i>
        </span>
      </div>
      <div
        data-aos="zoom-out"
        class="flex items-center gap-5 desktop:text-6xl mobile:py-4 mobile:text-base font-bold uppercase text-blue-950">
        Cardiologist
        <span class="animate-spin">
          <i class="fa-solid fa-star-of-life text-5xl text-blue-700 rotate"></i>
        </span>
      </div>
    </div>
    <div class="marquee-content slider gap-5 pt-4">
      <div
        class="flex items-center gap-5 desktop:text-6xl mobile:py-4 mobile:text-base font-bold uppercase text-blue-950">
        Cardiologist
        <span class="animate-spin">
          <i class="fa-solid fa-star-of-life text-5xl text-blue-700 rotate"></i>
        </span>
      </div>
      <div
        class="flex items-center gap-5 desktop:text-6xl mobile:py-4 mobile:text-base font-bold uppercase text-blue-950">
        Cardiologist
        <span class="animate-spin">
          <i class="fa-solid fa-star-of-life text-5xl text-blue-700 rotate"></i>
        </span>
      </div>
      <div
        class="flex items-center gap-5 desktop:text-6xl mobile:py-4 mobile:text-base font-bold uppercase text-blue-950">
        Cardiologist
        <span class="animate-spin">
          <i class="fa-solid fa-star-of-life text-5xl text-blue-700 rotate"></i>
        </span>
      </div>
    </div>
  </div>
</div>