<div class="flex items-center pt-12 m-auto gap-20 w-9/12">
  <div class="card w-1/3">
    <div class="w-10/12 m-auto pt-4">
      <div class="flex justify-between items-center">
        <h2 class="header_card">Our Professionals</h2>
        <svg class="w-8 h-8" viewBox="0 0 24 24" fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <hr class="text-white" />
    </div>

    <div class="pt-8 w-80 m-auto">
      <div class="flex flex-col justify-center items-center">
        <img src="../../../assets/images/ui/srvc-tm.png" alt="" />
        <span
          class="flex justify-center items-center pt-8 hoverWhite blue text-3xl">
          180 + <span class="hoverWhite lightBlue text-2xl pl-2">Doctors</span>
        </span>
        <p class="hoverWhite text-base transition text-center">
          Rapidiously reinvent long-term impact collaboration
        </p>
      </div>
    </div>
  </div>

  <div class="card w-1/3">
    <div class="w-10/12 m-auto pt-4">
      <div class="flex justify-between items-center">
        <button
          class="rounded-full bg-blueTextLight text-white hover:bg-white hover:text-blueDarkLight p-2 pl-4 pr-4">
          BOOKING
        </button>
        <h2 class="header_card">Appointment</h2>
      </div>
      <hr class="text-white" />
    </div>

    <div class="pt-8 w-80 m-auto">
      <div class="flex flex-col justify-center items-center">
        <img src="../../../assets/images/ui/call.png" alt="" />
        <span
          class="flex justify-center items-center pt-8 hoverWhite blue text-2xl">
          +123 (4567) 890
        </span>
        <p class="hoverWhite text-base transition text-center">
          Call Us for Booking appoinments online 24 hrs available
        </p>
      </div>
    </div>
  </div>

  <div class="card w-1/3">
    <div class="w-10/12 m-auto pt-4">
      <div class="flex justify-between items-center">
        <h2 class="header_card">Locations</h2>
        <svg class="w-8 h-8" viewBox="0 0 24 24" fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <hr class="text-white" />
    </div>

    <div class="pt-8 w-80 m-auto">
      <div class="flex flex-col justify-center items-center">
        <img src="../../../assets/images/ui/location.png" alt="" />
        <span
          class="flex justify-center items-center pt-8 hoverWhite blue text-3xl">
          180 + <span class="hoverWhite lightBlue text-2xl pl-2">Doctors</span>
        </span>
        <p class="hoverWhite text-base transition text-center">
          Rapidiously reinvent long-term impact collaboration
        </p>
        <button
          class="rounded-full bg-blueTextLight text-white hover:bg-white hover:text-blueDarkLight p-2 pl-4 pr-4">
          BOOKING
        </button>
      </div>
    </div>
  </div>
</div>

<!-- About Medical  -->
<div class="flex items-center justify-between pt-12 m-auto gap-20 w-9/12">
  <div class="flex items-center gap-4">
    <h1 class="text-6xl text-blueDark pt-4">About Medical</h1>
    <span class="animate-spin">
      <i
        class="fa-solid fa-star-of-life text-5xl text-blueTextLight rotate"></i>
    </span>
  </div>
  <div class="w-48">
    <span class="text-blueDark flex">
      <span class="font-bold text-4xl flex items-center">
        10<i class="fa-solid fa-plus text-1xl text-blueDark"></i>
      </span>
      <span class="text-center">YEARS OF EXPERIENCE</span>
    </span>
  </div>
</div>
<hr class="text-blueDark m-auto w-9/12" />

<div class="flex gap-10 m-auto w-9/12 pt-12">
  <div class="w-7/12">
    <div>
      <div class="about-thumb relative">
        <span>
          <img
            class="imgali"
            src="../../../assets/images/ui/about.png"
            alt="Cinque Terre"
            width=""
            height="100%" />
        </span>
        <div class="thumbs-bxs absolute">
          <div class="icon">
            <img
              class="heart"
              src="../../../assets/images/ui/heart.png"
              alt="Heart" />
          </div>

          <div class="text-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="svgCircle"
              viewBox="0 0 250.5 250.5">
              <path
                d="M125.25,0.25 a125,125 0 1,1 0,250 a125,125 0 1,1 0,-250"
                id="e-path-35ee1b2"></path>
              <text>
                <textPath
                  id="e-text-path-35ee1b2"
                  href="#e-path-35ee1b2"
                  startOffset="0%">
                  NEUROLOGIST * GYNECOLOGIST * HEALTHCARE *
                </textPath>
              </text>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-5/12 flex flex-col justify-center">
    <div class="uppercase text-blueTextLight text-sm pb-6">About Company</div>
    <span class="text-blueDark text-3xl font-bold">
      Since 2007 We’re working Medical group of more than 1200+ Patients help
      from our medical
    </span>
    <div class="text-blueDark text-xl font-semibold pt-8 pr-0 pb-6">
      We’re Putting your Comfort List
    </div>
    <ul>
      <li>
        <div
          class="flex justify-between border-dashed border-t-2 border-blueDark">
          <span class="flex items-center gap-1 pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blueTextLight"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blueDark"> Completely to syndicate </span>
          </span>
          <span class="flex items-center gap-1 text-blueDark pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blueTextLight"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blueDark"> Completely to syndicate </span>
          </span>
        </div>
      </li>
      <li>
        <div
          class="flex justify-between border-dashed border-t-2 border-blueDark">
          <span class="flex items-center gap-1 pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blueTextLight"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blueDark"> Completely to syndicate </span>
          </span>
          <span class="flex items-center gap-1 text-blueDark pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blueTextLight"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blueDark"> Completely to syndicate </span>
          </span>
        </div>
      </li>
      <li>
        <div
          class="flex justify-between border-dashed border-t-2 border-b-2 border-blueDark">
          <span class="flex items-center gap-1 pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blueTextLight"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blueDark"> Completely to syndicate </span>
          </span>
          <span class="flex items-center gap-1 text-blueDark pt-6 pb-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill text-blueTextLight"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <span class="text-blueDark"> Completely to syndicate </span>
          </span>
        </div>
      </li>
    </ul>
    <div class="mt-6">
      <button dfButton appearance="solid" class="flex">
        Apply Now
        <span>
          <svg
            width="16px"
            height="16px"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-arrow-return-right">
            <path
              fill-rule="evenodd"
              d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>

<div class="w-full pt-12">
  <div class="flex items-center overflow-hidden gap-4 bg-blueSkyDark">
    <div class="marquee-content slider gap-5 pt-4">
      <h1
        class="flex items-center gap-5 text-6xl font-bold uppercase text-blueDark">
        Cardiologist
        <span class="animate-spin">
          <i
            class="fa-solid fa-star-of-life text-5xl text-blueTextLight rotate"></i>
        </span>
      </h1>
      <h1
        class="flex items-center gap-5 text-6xl font-bold uppercase text-blueDark">
        Cardiologist
        <span class="animate-spin">
          <i
            class="fa-solid fa-star-of-life text-5xl text-blueTextLight rotate"></i>
        </span>
      </h1>
      <h1
        class="flex items-center gap-5 text-6xl font-bold uppercase text-blueDark">
        Cardiologist
        <span class="animate-spin">
          <i
            class="fa-solid fa-star-of-life text-5xl text-blueTextLight rotate"></i>
        </span>
      </h1>
    </div>
    <div class="marquee-content slider gap-5 pt-4">
      <h1
        class="flex items-center gap-5 text-6xl font-bold uppercase text-blueDark">
        Cardiologist
        <span class="animate-spin">
          <i
            class="fa-solid fa-star-of-life text-5xl text-blueTextLight rotate"></i>
        </span>
      </h1>
      <h1
        class="flex items-center gap-5 text-6xl font-bold uppercase text-blueDark">
        Cardiologist
        <span class="animate-spin">
          <i
            class="fa-solid fa-star-of-life text-5xl text-blueTextLight rotate"></i>
        </span>
      </h1>
      <h1
        class="flex items-center gap-5 text-6xl font-bold uppercase text-blueDark">
        Cardiologist
        <span class="animate-spin">
          <i
            class="fa-solid fa-star-of-life text-5xl text-blueTextLight rotate"></i>
        </span>
      </h1>
    </div>
  </div>
</div>

<app-service-section />

<div class="flex items-center justify-between pt-12 m-auto gap-20 w-9/12">
  <div class="flex items-center gap-4">
    <h1 class="text-4xl text-blueDark pt-4">MEET OUR BEST DOCTORS</h1>
    <span class="animate-spin">
      <i
        class="fa-solid fa-star-of-life text-5xl text-blueTextLight rotate"></i>
    </span>
  </div>
  <div class="w-48">
    <span class="text-blueDark flex">
      <span class="font-bold text-4xl flex items-center">
        38<i class="fa-solid fa-plus text-1xl text-blueDark"></i>
      </span>
      <span class="text-center uppercase">Professional Doctors</span>
    </span>
  </div>
</div>
<hr class="text-blueDark m-auto w-9/12" />
<div class="m-auto w-9/12 pt-12">
  <app-best-doctors />
</div>

<div class="flex items-center justify-between pt-12 m-auto gap-20 w-9/12">
  <div class="flex items-center gap-4">
    <h1 class="text-4xl text-blueDark pt-4 uppercase">Read Our Latest Blod</h1>
    <span class="animate-spin">
      <i
        class="fa-solid fa-star-of-life text-5xl text-blueTextLight rotate"></i>
    </span>
  </div>
  <div class="w-48">
    <span class="text-blueDark flex">
      <span class="font-bold text-4xl flex items-center">
        38<i class="fa-solid fa-plus text-1xl text-blueDark"></i>
      </span>
      <span class="text-center uppercase">Professional Doctors</span>
    </span>
  </div>
</div>
<hr class="text-blueDark m-auto w-9/12" />
<div class="m-auto w-9/12 pt-12 pb-7">
  <app-blog />
</div>



<div class="flex justify-center items-center h-full">
  <img
    class="object-center"
    src="../../../assets/images/ui/slider/counter-bg.png"
    alt="Counter Image" />
  <div class="absolute flex justify-between items-center gap-4 w-3/4">
    <div  class="flex items-center gap-4">
      <div>
        <img src="../../../assets/images/ui/counter-img.png" alt="" />
      </div>
      <div class="flex flex-col">
        <div class="text-white text-4xl font-semibold">Since 2007 We’re working Medical group more than 1200+ Patient</div>
      </div>
    </div>
    <div class="flex justify-between items-center gap-20">
      <button dfButton>View All Service</button>

    </div>
  </div>
</div>
<!-- <app-social-media-icon /> -->
