<app-slider />
<div class="mx-auto desktop:w-11/12">
  <!---------------- What service do you need?  --------------->
  <section><app-suggustions-service /></section>

  <!---------------- Clinic Information  --------------->
  <section>
    <app-clinic-info />
  </section>

  <!---------------- Skin, hair and beauty services  --------------->
  <section>
    <app-dermatology-hair />
  </section>

  <!---------------- Suggestions Related to Skin, Hair, and Beauty Tips  --------------->
  <section class="px-2">
    <app-suggestions-skin-hair />
  </section>
  
  <!---------------- Dental Services  --------------->
  <section class="px-2">
    <app-dental-service />
  </section>
  
  
  <!---------------- Suggestions Dental  --------------->
  <section class="px-2">
    <app-suggestions-dental />
  </section>

  <!---------------- How to reserve it  --------------->
  <section class="pt-10">
    <app-book-appointment />
  </section>

  <!----------------Suggestions psychologyTips  --------------->
  <section class="px-2">
    <app-suggestions-psychology-tips />
  </section>

  <!----------------Suggestions ophthalmologyTips  --------------->
  <section class="px-2">
    <app-suggestions-ophthalmology-tips />
  </section>

  <!----------------Suggestions urologyTips   --------------->
  <section class="px-2">
    <app-suggestions-urology-tips />
  </section>

  <!----------------Suggestions rhinoplastyTips    --------------->

  <section class="px-2">
    <app-suggestions-rhinoplasty-tips />
  </section>

  <!---------------- Suggestions   --------------->

  <section class="px-2">
    <app-suggestions />
  </section>

  <!------------------- About Medical  ------------------------>
  <app-custom-title
    [counter]="counter"
    [title]="'About Medical'"
    [subtitle]="'Experience'" />
  <app-yours-doctor [counter]="counter" />

  <!---------------- start best-doctors ---------------------->
  <app-custom-title
    [counter]="counter"
    [title]="'Meet our  Doctor'"
    [subtitle]="'professional DR'" />

  <hr class="text-blue-950 m-auto w-9/12" />
  <div class="mx-auto desktop:w-11/12 w-full desktop:pt-12">
    <app-best-doctors />
  </div>

  <!---------------- user-reviews-of-clinic-ali ---------------------->
  <section>
    <app-user-reviews-of-clinic-ali />
  </section>

  <!---------------- start Blog section ---------------------->
  <app-custom-title
    [counter]="counter"
    [title]="'Read Our Latest Blog'"
    [subtitle]="'Our blogs'" />

  <hr class="text-blue-950 mx-auto desktop:w-9/12" />
  <div class="mx-auto desktop:w-9/12 pt-12 pb-7">
    <app-blog />
  </div>
</div>
