.card {
    position: relative;
    height: 25rem;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
    border: 2px solid white;
    padding: 1rem;
}

.header_card {
    font-size: x-large !important;
    font-weight: 500;
    color: #0A2570;
}



.blue {
    color: #0A2570;
}

.lightBlue {
    color: #2A7BFB;
}

p {
    color: #65677a;
}

.card:hover .header_card {
    color: white;
    transition: 0.5s;

}

.card:hover .hoverWhite {
    color: white;
    transition: 0.5s;

}

.card::before,
.card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #2A7BFB;
    z-index: -1;
    transition: all 0.5s;
}

.card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;

}

.card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;

}

.card:hover::before,
.card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;

}



// .card:hover:after {
//     content: "HELLO";
// }

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.rotate {
    animation: rotate 8s linear infinite;
}

.thumbs-bxs {
    top: 0;
    right: 183px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-radius: 30px;
    background-color: #007eff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-circle {
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-circle svg {
    width: 131px;
    height: auto;
    overflow: visible;
    word-spacing: 10px;
    transform: rotate(0) scaleX(1) scaleY(1);
    animation: rotate 8s linear infinite;

}

.svgCircle {
    vertical-align: middle !important;
}

.text-circle path {
    fill: transparent;
    stroke: transparent;
    stroke-width: 1px;
    transition: 0.3s stroke, 0.3s fill;
}

.text-circle text {
    fill: #ffffff;
    direction: ltr;
    transition: 0.3s stroke, 0.3s stroke-width, 0.3s fill;
    font-size: 30px;
}



@keyframes circle {
    0% {
        transform: rotate(0deg);
        /* Start position */
    }

    100% {
        transform:
            rotate(-360deg);
        /* Complete rotation */
    }
}

.slider{
    flex-shrink: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    animation: slider 30s linear infinite;
}
@keyframes slider {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 1rem));
    }
}


.scoll-to-top {
    position: fixed;
    float: left;
    bottom: 0;
    right: 0;
    margin: 10px;
    z-index: 9999;
  }