  <div class="lg:relative mx-auto lg:pl-32 lg:pr-32 lg:pb-10">

    <!-- Form inside the image -->
    <div
      data-aos="fade-up"
      class="lg:absolute top-0  h-full lg:flex lg:items-center lg:justify-end md:w-full lg:w-2/6">
      <div>
        <div>
          <p class="uppercase text-blue-600">Online Appintment</p>
        </div>
        <div class="lg:text-3xl md:text-xl font-normal text-blue-950 pb-6">
          Make an Online Appoinemnt Booking For Treatment Patients
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="lg:flex gap-5">
            <!-- *****Name***** -->
            <mat-form-field
              data-testing="Name"
              appearance="outline"
              class="w-full">
              <mat-label class="text-blue-950">Your Name</mat-label>
              <input
                type="text"
                matInput
                [errorStateMatcher]="matcher"
                formControlName="name"
                placeholder="Your Name" />
              <!-- Error handling -->
              <mat-error
                *ngIf="name?.hasError('name') && !name?.hasError('required')"
                >Please enter a valid name</mat-error
              >
              <mat-error *ngIf="name?.hasError('required')"
                >name is <strong>required</strong></mat-error
              >
              <mat-error *ngIf="form.controls.name.hasError('minlength')"
                >name is too short
                <strong>{{
                  form.controls.name.getError('minlength')?.requiredLength
                }}</strong></mat-error
              >
              <mat-error *ngIf="name?.hasError('banWords')"
                >The value
                <strong>{{ name?.getError('banWords').bannedWord }} </strong>is
                banned</mat-error
              >
            </mat-form-field>
            <!-- *****email***** -->
            <mat-form-field
              data-testing="email"
              appearance="outline"
              class="w-full">
              <mat-label class="text-blue-950">Email</mat-label>
              <input
                type="email"
                matInput
                [errorStateMatcher]="matcher"
                formControlName="email"
                placeholder="You E-Mail"
                class="w-full" />
              <!-- Error handling -->
              <mat-error
                *ngIf="email?.hasError('email') && !email?.hasError('required')"
                >Please enter a valid email address</mat-error
              >
              <mat-error *ngIf="email?.hasError('required')"
                >email is <strong>required</strong></mat-error
              >
            </mat-form-field>
          </div>
          <div class="lg:flex gap-5">
            <!-- *****Subject***** -->
            <mat-form-field
              data-testing="Subject"
              appearance="outline"
              class="w-full">
              <mat-label class="text-blue-950">Subject</mat-label>
              <input
                type="text"
                matInput
                [errorStateMatcher]="matcher"
                formControlName="subject"
                placeholder="Subject" />
              <!-- Error handling -->

              <mat-error *ngIf="name?.hasError('required')"
                >name is <strong>required</strong></mat-error
              >
            </mat-form-field>

            <!-- *****Phone***** -->
            <!-- <mat-form-field
              data-testing="Phone"
              appearance="outline"
              class="w-full">
              <mat-label class="text-blue-950">Phone</mat-label>
              <ngx-mat-intl-tel-input
                [preferredCountries]="['my']"
                [enablePlaceholder]="true"
                placeholder="Write your phone number..."
                [enableSearch]="true"
                name="phone"
                [required]="true"
                formControlName="phone"
                (cdkAutofill)="onAutofill($event)"
                [dir]="textDirection"></ngx-mat-intl-tel-input>

              <mat-error
                *ngIf="phone?.hasError('phone') && !phone?.hasError('required')"
                >Please enter a valid phone</mat-error
              >
              <mat-error *ngIf="phone?.hasError('required')"
                >phone is <strong>required</strong></mat-error
              >

              <mat-error *ngIf="phoneExists === true" class="error">
                This phone number already exists.
              </mat-error>
              <mat-error *ngIf="phoneExists === false" class="success">
                This phone number is available.
              </mat-error>
            </mat-form-field> -->
          </div>

          <!-- *****Message***** -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label class="text-blue-950">Leave a comment</mat-label>
            <textarea
              matInput
              placeholder="Ex. It makes me feel..."
              formControlName="message"></textarea>
          </mat-form-field>
          <button dfButton >
            Send Now
            <i class="fa-solid fa-arrow-trend-up text-2xl"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
